<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Ankh.WpfEditor.Package">
      <ComponentGroupRef Id="Ankh.Ids"/>
      <ComponentGroupRef Id="Ankh.Services"/>
      <ComponentRef Id="C_Ankh.WpfEditor.Package.dll"/>
    </ComponentGroup>
    <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.WpfEditor.Package.TargetDir)">
      <Component Id="C_Ankh.WpfEditor.Package.dll" Guid="89B5BD49-F226-481F-9A29-7BF813D270D5">
        <!-- File must be called File_$(Ankh.WpfEditor.Package.TargetName).dll for the following includes-->
        <File Id="File_Ankh.WpfEditor.Package.dll" Name="Ankh.WpfEditor.Package.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
        <?ifdef Ankh_Pdb?>
        <File Id="CF_Ankh.WpfEditor.Package.pdb" Name="Ankh.WpfEditor.Package.pdb" Checksum="yes" Vital="yes" />
        <?endif?>
      </Component>
      <Component Id="CR_PkgWpf_2010" Guid="C953E5E1-A952-4E15-A4A7-A6ACBE713FE6">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="PkgWpf-VS2010" Value="1" Type="integer" KeyPath="yes" />
        <?include $(var.Ankh.WpfEditor.Package.ProjectDir)obj\$(var.Ankh.WpfEditor.Package.Configuration)\$(var.Ankh.WpfEditor.Package.TargetName)-2010.wxi ?>
      </Component>
      <Component Id="CR_PkgWpf_11" Guid="D7035C6B-46A9-4272-87A5-743FB08DA989">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="PkgWpf-VS11" Value="1" Type="integer" KeyPath="yes" />
        <?include $(var.Ankh.WpfEditor.Package.ProjectDir)obj\$(var.Ankh.WpfEditor.Package.Configuration)\$(var.Ankh.WpfEditor.Package.TargetName)-11.wxi ?>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="PkgWpfReg2010">
      <ComponentGroupRef Id="Ankh.WpfEditor.Package"/>
      <ComponentRef Id="CR_PkgWpf_2010"/>
    </ComponentGroup>
    <ComponentGroup Id="PkgWpfReg11">
      <ComponentGroupRef Id="Ankh.WpfEditor.Package"/>
      <ComponentRef Id="CR_PkgWpf_11"/>
    </ComponentGroup>
  </Fragment>
</Wix>
