<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="FR_NSvn.Core">
		<DirectoryRef Id="appDir">
			<Component Id="C__NSvn.Core.dll" Guid="B991A401-0CF0-4302-B44B-A2442403D561">
				<File Id="CF_NSvn.Core.dll" Name="NSVNCO~2.DLL" LongName="NSvn.Core.dll"
					Vital="yes" KeyPath="yes" DiskId="1" src="..\build-Release\NSvn.Core.dll"/>
			</Component>
			<Component Id="C__NSvn.Core.pdb" Guid="15390701-9B47-4451-85C1-48574F0DCEBB">
				<File Id="CF_NSvn.Core.pdb" Name="NSVNCO~2.PDB" LongName="NSvn.Core.pdb"
					Vital="yes" KeyPath="yes" DiskId="1" src="..\build-Release\NSvn.Core.pdb"/>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>

