<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ErrorReportExtractor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ErrorReportExtractor.Properties.Settings.ErrorReportsConnectionString"
      connectionString="Data Source=SHERILYN\SQLEXPRESS;Initial Catalog=ErrorReports;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FolderPath" value="Final year project\ankhsvn\Error reports"/>
  </appSettings>
  <userSettings>
    <ErrorReportExtractor.Properties.Settings>
      <setting name="SenderEmail" serializeAs="String">
        <value>arild.fines@broadpark.no</value>
      </setting>
      <setting name="SenderName" serializeAs="String">
        <value>Arild Fines</value>
      </setting>
      <setting name="ReplyToEmail" serializeAs="String">
        <value>error@ankhsvn.tigris.org</value>
      </setting>
      <setting name="Subject" serializeAs="String">
        <value>Re: [ANKHSVN-ERROR] Exception</value>
      </setting>
      <setting name="CC" serializeAs="String">
        <value>error@ankhsvn.tigris.org</value>
      </setting>
      <setting name="MailServer" serializeAs="String">
        <value>mail.broadpark.no</value>
      </setting>
    </ErrorReportExtractor.Properties.Settings>
  </userSettings>
</configuration>