<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Ankh.GitScc">
      <ComponentGroupRef Id="Ankh.Ids" />
      <ComponentGroupRef Id="Ankh.Services" />
      <ComponentRef Id="C_Ankh.GitScc.dll" />
    </ComponentGroup>
    <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.GitScc.TargetDir)">
      <Component Id="C_Ankh.GitScc.dll" Guid="E184FCB5-6832-4F84-938C-D033D6121F66">
        <File Id="CF_Ankh.GitScc.dll" Name="Ankh.GitScc.dll" Checksum="yes" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
