<?xml version="1.0" encoding="utf-8" ?> 

<!--    $LASTCHANGEDREVISION$
        $LASTCHANGEDDATE$
        $LASTCHANGEDBY$ -->
<configuration>
    <configSections>
        <section name="colorize" 
        type="Rogue.Colorize.Client.Configuration+SectionHandler, Rogue.Colorize.Client"/>        
    </configSections>
    
    <colorize>
        <style>
            <base>
                <font>Courier New</font>
                <size>9</size>
                <color>Black</color>
            </base>
            <comment>
                <italic/>
                <bold/>
                <color>#339933</color>
            </comment>
            <literal>
                <color>Blue</color>
            </literal>
            <keyword>
                <bold/>
                <color>#330099</color>
            </keyword>
            <number>   
                <color>Navy</color>
            </number>
            <preprocessor>
                <color>Brown</color>
            </preprocessor>
        </style>
        
        <!--<extensions>
            <converter ext="cs" class="Rogue.Colorize.Languages.CSharpDefinition"/>
            <converter ext="cpp" class="Rogue.Colorize.Languages.CppDefinition"/>
            <converter ext="c" class="Rogue.Colorize.Languages.CppDefinition"/>
            <converter ext="h" class="Rogue.Colorize.Languages.CppDefinition"/>
            <converter ext="pas" class="Rogue.Colorize.Languages.ObjectPascalDefinition"/>
            <converter ext="xml" class="Rogue.Colorize.Languages.XmlDefinition"/>
            <converter ext="xsl" class="Rogue.Colorize.Languages.XmlDefinition"/>
            <converter ext="xslt" class="Rogue.Colorize.Languages.XmlDefinition"/>
            <converter ext="xsd" class="Rogue.Colorize.Languages.XmlDefinition"/>
            <converter ext="sql" class="Rogue.Colorize.Languages.SqlDefinition"/>
            <converter ext="py" class="Rogue.Colorize.Languages.PythonDefinition"/>
            <converter ext="bas" class="Rogue.Colorize.Languages.VBDefinition"/>
            <converter ext="java" class="Rogue.Colorize.Languages.JavaDefinition"/> 
            <converter ext="html" class="Rogue.Colorize.Languages.XmlDefinition"/>           
        </extensions>
        
        <formatters>
            <formatter tag="rtf" class="Rogue.Colorize.Formatters.RtfFormatter" 
                assembly="Rogue.Colorize.Formatters"/>
            <formatter tag="html" class="Rogue.Colorize.Formatters.
                HtmlFormatter" assembly="Rogue.Colorize.Formatters"/>
        </formatters>-->
    </colorize>
    
</configuration>

