<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?ifndef ankhVersion ?>
  <?define ankhVersion=2.0.0.1 ?>
  <?endif ?>
  <Product Id="*" Name="AnkhSVN $(var.ankhVersion)" Language="1033" Version="$(var.ankhVersion)" Manufacturer="AnkhSVN Team" UpgradeCode="FFE67D45-DC1F-45C6-BF0D-ABC579868168">
    <Package InstallerVersion="300" Compressed="yes" InstallPrivileges="elevated" Platform="x86" Languages="1033" />

    <!-- AnkhSVN 2.0 daily builds before 2008-06-18 used a different upgrade key -->
    <Upgrade Id="40880177-2453-4EC7-8EEF-744EC101B688">
      <UpgradeVersion Property="PREVIOUSVERSIONINSTALLED" Minimum="2.0.0.0" Maximum="3.0.0.0" IncludeMinimum="yes" IncludeMaximum="no" MigrateFeatures="no" />
    </Upgrade>

    <MajorUpgrade
      Schedule="afterInstallInitialize"
      DowngradeErrorMessage="Unable to install because a newer version than AnkhSVN $(var.ankhVersion) is already installed." />

    <Property Id="ShortProductName" Value="AnkhSVN" />
    <Property Id="ARPCONTACT">AnkhSVN - users@ankhsvn.open.collab.net</Property>
    <Property Id="ARPURLINFOABOUT">http://www.ankhsvn.net/</Property>
    <Property Id="ARPHELPLINK">http://www.ankhsvn.net/help/</Property>
    <Property Id="ARPURLUPDATEINFO">http://www.ankhsvn.net/changes/?v=$(var.ankhVersion)</Property>
    <Property Id="ARPPRODUCTICON">ICON_AnkhSvn</Property>

    <!-- Some strings to help repackages such as Chocolatey -->
    <Property Id="Pkg_LicenseUrl">http://ankhsvn.open.collab.net/ankhsvn/license/</Property>
    <Property Id="Pkg_ProjectUrl">http://ankhsvn.net/</Property>
    <Property Id="Pkg_IconUrl">http://ankhsvn.open.collab.net/images/ankhsvn-logo.png</Property>
    <Property Id="Pkg_Description">AnkhSVN is a Subversion Source Control Provider for Microsoft Visual Studio 2005, 2008, 2010, 2012 and 2013.</Property>
    <Property Id="Pkg_Copyright">Copyright (C) 2003-2013 The AnkhSVN Team.</Property>
    <Property Id="Pkg_Tags">Subversion svn VisualStudio SCM</Property>

    <!-- Error messages -->

    <!-- Errormessages -->
    <Icon Id="ICON_AnkhSvn" SourceFile="$(sys.SOURCEFILEDIR)..\Ankh.Package\Resources\Package.ico" />

    <Media Id="1" Cabinet="AnkhSVN.cab" EmbedCab="yes" CompressionLevel="high" />
    <PropertyRef Id="VS2010DEVENV" />
    <PropertyRef Id="VS2010_EXTENSIONS_DIR" />

    <PropertyRef Id="VS11DEVENV" />
    <PropertyRef Id="VS11_EXTENSIONS_DIR" />

    <PropertyRef Id="VS12DEVENV" />
    <PropertyRef Id="VS12_EXTENSIONS_DIR" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="AnkhSVN 2">
          <Directory Id="APP_bin" Name="." FileSource="$(sys.SOURCEFILEDIR)..\">
            <Directory Id="DIR_SharpSvn" Name=".">
              <!-- Include the VC 9.0 CRT to make sure we can load SharpSvn -->
              <Merge Id="CRT" Language="0" SourceFile="$(sys.SOURCEFILEDIR)..\lib\microsoft_vc90_crt_x86.msm" DiskId="1" />
              <Merge Id="CRT_Policy" Language="0" SourceFile="$(sys.SOURCEFILEDIR)..\lib\policy_9_0_Microsoft_VC90_CRT_x86.msm" DiskId="1" />
            </Directory>
            <Directory Id="DIR_SharpSvnLicenses" Name="Licenses">
              <!-- SharpSvn licenses will be placed here -->
            </Directory>
            <Component Id="C_CONTRIBUTORS" Guid="BD3AA74E-8B7D-4582-A2E0-CC5F0E2D08A7">
              <File Id="CF_CONTRIBUTORS.txt" Name="CONTRIBUTORS.txt" KeyPath="yes"/>
            </Component>
            <Component Id="C_LICENSE" Guid="7A5DB32C-CB0D-4CA8-9661-A1FC5E1F8DBB">
              <File Id="CF_LICENSE.rtf" Name="LICENSE.rtf" KeyPath="yes"/>
            </Component>
            <Component Id="C_NOTICE" Guid="768C16AE-3159-4EB0-8976-0FCC3AA020AA">
              <File Id="CF_NOTICE.txt" Name="NOTICE.txt" KeyPath="yes"/>
            </Component>
            <Component Id="C_PKGDEF" Guid="E1ABF0EB-ADDA-4158-95A0-46B3B977768E">
              <File Id="Ankh.pkgdef" Name="Ankh.Pkgdef" KeyPath="yes"/>
            </Component>
            <Component Id="C_VSIXMANIFEST" Guid="F88724B3-9B13-4BF7-9AD6-E6FBFF4E725E">
              <File Id="CF_VSIXMANIFEST" Name="extension.VsixManifest" KeyPath="yes"/>
            </Component>
            <Component Id="C_VSIXICO" Guid="62E7DE1D-4516-4742-B1E7-A867D41C164F">
              <File Id="CF_VSIXICO" Source="Ankh.Votive\AnkhSVN-Icon.png" KeyPath="yes"/>
            </Component>
            <Component Id="C_VSIXPREVIEW" Guid="1F77F7F1-9CF0-4A75-B924-B81D191652DE">
              <File Id="CF_VSIXPREVIEW" Source="Ankh.Votive\AnkhSVN-Preview.png" KeyPath="yes"/>
            </Component>
            <!-- All assemblies are placed here -->
            <Component Id="C_VSIXMANIFEST10" Guid="56F2C5B8-DAD2-4C11-9ECE-F9C827242073">
              <File Id="CF_VSIXMANIFEST10" Name="extension.VsixManifest-vs2010" KeyPath="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Name="Common Files" Id="CommonFilesFolder">
        <Directory Name="Microsoft Shared" Id="CommonFiles_MsShared">
          <Directory Name="MSEnv" Id="CommonFiles_MsShared_MsEnv">
            <Directory Name="PublicAssemblies" Id="CommonFiles_MsShared_MsEnv_PublicAssemblies" />
          </Directory>
        </Directory>
      </Directory>
      <Directory Name="Extensions" Id="VS2010_EXTENSIONS_DIR">
        <Directory Name="AnkhSVN" Id="EXTENSIONS_ANKH_2010">
          <Directory Name="2.X" Id="ANKHSVN_EXTENSION_2010">
            <Component Id="C_Reg2010" Guid="CE0855C9-C174-4A6D-B278-780232106323">
              <Condition>VS2010DEVENV</Condition>
              <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="VS2010-Info" Value="[ANKHSVN_EXTENSION_2010]" Type="string" KeyPath="yes" />
              <CopyFile Id="Vsix_Mnf2010" FileId="CF_VSIXMANIFEST10" DestinationDirectory="ANKHSVN_EXTENSION_2010" DestinationName="extension.VsixManifest" />
              <CopyFile Id="Vsix_Lic2010" FileId="CF_LICENSE.rtf" DestinationDirectory="ANKHSVN_EXTENSION_2010" />
              <CopyFile Id="Vsix_Ico2010" FileId="CF_VSIXICO" DestinationDirectory="ANKHSVN_EXTENSION_2010" />
              <CopyFile Id="Vsix_Pvw2010" FileId="CF_VSIXPREVIEW" DestinationDirectory="ANKHSVN_EXTENSION_2010" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Name="Extensions" Id="VS11_EXTENSIONS_DIR">
        <Directory Name="AnkhSVN" Id="EXTENSIONS_ANKH_2012">
          <Directory Name="2.X" Id="ANKHSVN_EXTENSION_2012">
            <Component Id="C_Reg2012" Guid="06D5D441-6469-49B5-9FA7-FF8B2FD7382E">
              <Condition>VS11DEVENV</Condition>
              <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="VS2012-Info" Value="[ANKHSVN_EXTENSION_2012]" Type="string" KeyPath="yes" />
              <CopyFile Id="Vsix_Mnf_2012" FileId="CF_VSIXMANIFEST" DestinationDirectory="ANKHSVN_EXTENSION_2012" />
              <CopyFile Id="Vsix_Lic_2012" FileId="CF_LICENSE.rtf" DestinationDirectory="ANKHSVN_EXTENSION_2012" />
              <CopyFile Id="Vsix_Ico_2012" FileId="CF_VSIXICO" DestinationDirectory="ANKHSVN_EXTENSION_2012" />
              <CopyFile Id="Vsix_Pvw_2012" FileId="CF_VSIXPREVIEW" DestinationDirectory="ANKHSVN_EXTENSION_2012" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Name="Extensions" Id="VS12_EXTENSIONS_DIR">
        <Directory Name="AnkhSVN" Id="EXTENSIONS_ANKH_2013">
          <Directory Name="2.X" Id="ANKHSVN_EXTENSION_2013">
            <Component Id="C_Reg2013" Guid="D98F2A8C-3C9F-4291-AB4C-0CE74232CE38">
              <Condition>VS12DEVENV</Condition>
              <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="VS12.0-Info" Value="[ANKHSVN_EXTENSION_2013]" Type="string" KeyPath="yes" />
              <CopyFile Id="Vsix_Mnf_12.0" FileId="CF_VSIXMANIFEST" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
              <CopyFile Id="Vsix_Lic_12.0" FileId="CF_LICENSE.rtf" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
              <CopyFile Id="Vsix_Ico_12.0" FileId="CF_VSIXICO" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
              <CopyFile Id="Vsix_Pvw_12.0" FileId="CF_VSIXPREVIEW" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Name="Extensions" Id="VS14_EXTENSIONS_DIR">
        <Directory Name="AnkhSVN" Id="EXTENSIONS_ANKH_VS14">
          <Directory Name="2.X" Id="ANKHSVN_EXTENSION_VS14">
            <Component Id="C_Reg14" Guid="44B5A9BC-A2C2-434E-9B73-082DD3B95F6E">
              <Condition>VS14DEVENV</Condition>
              <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="VS14.0-Info" Value="[ANKHSVN_EXTENSION_2013]" Type="string" KeyPath="yes" />
              <CopyFile Id="Vsix_Mnf_14.0" FileId="CF_VSIXMANIFEST" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
              <CopyFile Id="Vsix_Lic_14.0" FileId="CF_LICENSE.rtf" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
              <CopyFile Id="Vsix_Ico_14.0" FileId="CF_VSIXICO" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
              <CopyFile Id="Vsix_Pvw_14.0" FileId="CF_VSIXPREVIEW" DestinationDirectory="ANKHSVN_EXTENSION_2013" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <!-- Make sure the packages are set up in The VS Environment -->
    <CustomActionRef Id="AnkhVS2005Setup" />
    <CustomActionRef Id="AnkhVS2008Setup" />
    <CustomActionRef Id="AnkhVS2010Setup" />
    <CustomActionRef Id="AnkhVS2012Setup" />
    <CustomActionRef Id="AnkhVS2013Setup" />
    <CustomActionRef Id="AnkhVS14Setup" />
    <UI>
      <ProgressText Action="AnkhVS2005Setup" Template="[1]">Updating Visual Studio 2005 registration</ProgressText>
      <ProgressText Action="AnkhVS2008Setup" Template="[1]">Updating Visual Studio 2008 registration</ProgressText>
      <ProgressText Action="AnkhVS2010Setup" Template="[1]">Updating Visual Studio 2010 registration</ProgressText>
      <ProgressText Action="AnkhVS2012Setup" Template="[1]">Updating Visual Studio 2012 registration</ProgressText>
      <ProgressText Action="AnkhVS2013Setup" Template="[1]">Updating Visual Studio 2013 registration</ProgressText>
      <ProgressText Action="AnkhVS14Setup" Template="[1]">Updating Visual Studio "14" registration</ProgressText>
    </UI>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

    <Property Id="ApplicationFolderName" Value="AnkhSVN 2" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <WixVariable Id="WixUIDialogBmp" Value="Ankh.Votive/SetupPage.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Ankh.Votive/SetupHeader.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <WixVariable Id="WixUISupportPerUser" Value="0" />
    <UIRef Id="WixUI_Advanced" />

    <Feature Id="ProductFeature" Title="AnkhSVN $(var.ankhVersion)" Level="1" ConfigurableDirectory="APPLICATIONFOLDER" AllowAdvertise="no" Display="expand">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="C_CONTRIBUTORS" />
      <ComponentRef Id="C_LICENSE" />
      <ComponentRef Id="C_NOTICE" />
      <ComponentRef Id="C_PKGDEF" />
      <ComponentRef Id="C_VSIXMANIFEST" />
      <ComponentRef Id="C_VSIXMANIFEST10" />
      <ComponentRef Id="C_VSIXICO" />
      <ComponentRef Id="C_VSIXPREVIEW" />
      <ComponentGroupRef Id="SharpSvn_LICENSES" />
      <MergeRef Id="CRT" />
      <MergeRef Id="CRT_Policy" />
      <Feature Id="RegVS8" Title="Register in Microsoft Visual Studio 2005" Description="Register AnkhSVN as SCC Provider in Microsoft Visual Studio 2005" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="PkgReg2005" />
        <ComponentGroupRef Id="Extension2005" />
      </Feature>
      <Feature Id="RegVS9" Title="Register in Microsoft Visual Studio 2008" Description="Register AnkhSVN as SCC Provider in Microsoft Visual Studio 2008" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="PkgReg2008" />
        <ComponentGroupRef Id="Extension2008" />
      </Feature>
      <Feature Id="RegVS10" Title="Register in Microsoft Visual Studio 2010" Description="Register AnkhSVN as SCC Provider in Microsoft Visual Studio 2010" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="PkgReg2010" />
        <ComponentGroupRef Id="PkgWpfReg2010" />
        <ComponentGroupRef Id="Extension2010" />
        <ComponentRef Id="C_Reg2010" />
      </Feature>
      <Feature Id="RegVS11" Title="Register in Microsoft Visual Studio 2012" Description="Register AnkhSVN as SCC Provider in Microsoft Visual Studio 2012" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="PkgReg2012" />
        <ComponentGroupRef Id="PkgWpfReg2012" />
        <!-- VS2012+ allows binding redirects in the registry, so no Extension* -->
        <ComponentRef Id="C_Reg2012" />
      </Feature>
      <Feature Id="RegVS12" Title="Register in Microsoft Visual Studio 2013" Description="Register AnkhSVN as SCC Provider in Microsoft Visual Studio 2013" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="PkgReg12.0" />
        <ComponentGroupRef Id="PkgWpfReg12.0" />
        <!-- VS2012+ allows binding redirects in the registry, so no Extension* -->
        <ComponentRef Id="C_Reg2013" />
      </Feature>
      <Feature Id="RegVS14" Title="Register in Microsoft Visual Studio 14" Description="Register AnkhSVN as SCC Provider in Microsoft Visual Studio 14" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="PkgReg14.0" />
        <ComponentGroupRef Id="PkgWpfReg14.0" />
        <!-- VS2012+ allows binding redirects in the registry, so no Extension* -->
        <ComponentRef Id="C_Reg14" />
      </Feature>
    </Feature>
  </Product>
</Wix>
