<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <CustomAction Id="AnkhVS2005Setup" Property="VS2005DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2005DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2005Setup" Before="InstallFinalize" Overridable="yes">VS2005DEVENV And Not UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS2008Setup" Property="VS90DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS90DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2008Setup" Before="InstallFinalize" Overridable="yes">VS90DEVENV And Not UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS2010Setup" Property="VS2010DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2010DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2010Setup" Before="InstallFinalize" Overridable="yes">VS2010DEVENV And Not UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS2012Setup" Property="VS11DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS11DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2012Setup" Before="InstallFinalize" Overridable="yes">VS11DEVENV And Not UPGRADINGPRODUCTCODE</Custom>
    </InstallExecuteSequence>
  </Fragment>

</Wix>
