<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) Microsoft Corporation.  All rights reserved.
    
    The use and distribution terms for this software are covered by the
    Common Public License 1.0 (http://opensource.org/licenses/cpl.php)
    which can be found in the file CPL.TXT at the root of this distribution.
    By using this software in any fashion, you are agreeing to be bound by
    the terms of this license.
    
    You must not remove this notice, or any other, from this software.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <!-- Visual Studio 2003 .NET -->
    <Fragment>
        <Property Id="VS2003DEVENV" Secure="yes">
            <RegistrySearch Id="VS2003DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\7.1\Setup\VS" Name="EnvironmentPath" Type="raw" />
        </Property>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS2003Setup" Property="VS2003DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS2003DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS2003Setup" Before="InstallFinalize" Overridable="yes">VS2003DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether or not the J# redistributable package 1.1 is installed.              -->
    <Fragment>
        <Property Id="JSHARP_REDIST_11_INSTALLED" Secure="yes">
            <RegistrySearch Id="JSharpRedist11RegKey" Root="HKLM" Key="Software\Microsoft\Visual JSharp Setup\Redist\v1.1.4322" Name="Install" Type="raw" />
        </Property>
    </Fragment>

    <!-- Visual Studio 2005 -->
    <Fragment>
        <Property Id="VS2005DEVENV" Secure="yes">
            <RegistrySearch Id="VS2005DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS2005_ITEMTEMPLATES_DIR" Secure="yes">
            <RegistrySearch Id="VS2005DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw">
                <DirectorySearch Id="VS2005ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS2005_PROJECTTEMPLATES_DIR" Secure="yes">
            <RegistrySearch Id="VS2005DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Setup\VS" Name="EnvironmentPath" Type="raw">
                <DirectorySearch Id="VS2005ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS2005_SCHEMAS_DIR" Secure="yes">
            <RegistrySearch Id="VS2005ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="8.0" Type="raw">
                <DirectorySearch Id="VS2005XmlPathSearch" Path="Xml" Depth="1">
                  <DirectorySearch Id="VS2005XmlSchemasPathSearch" Path="Schemas" Depth="1" />
                </DirectorySearch>
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS2005PROJECTAGGREGATOR2" Secure="yes">
            <ComponentSearch Id="VS2005ProjectAggregator2Search" Guid="B0BB80E0-5CCC-474E-A75E-05DC1AE073BC" />
        </Property>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS2005Setup" Property="VS2005DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS2005DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS2005Setup" Before="InstallFinalize" Overridable="yes">VS2005DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS2005InstallVSTemplates" Property="VS2005DEVENV" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS2005DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS2005InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VS2005DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Location of the Visual Studio 2005 root installation directory. -->
    <Fragment>
        <Property Id="VS2005_ROOT_FOLDER" Secure="yes">
            <RegistrySearch Id="SearchForVS2005RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="8.0" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual C# 2005 Express IDE component is installed.  -->
    <!-- If this property is set, that means Visual C# 2005 Express Edition is     -->
    <!-- installed on the system.                                                  -->
    <Fragment>
        <Property Id="VCSHARP2005EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVcsExpressIde2005Component" Guid="E8A67F23-21D0-4E7B-BBD3-54E2D505BED8" Type="file" >
                <FileSearch Id="VcsExpressIde2005" Name="vcsexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vcsexpress.exe /setup                     -->
    <Fragment>
        <CustomAction Id="VCSHARP2005Setup" Property="VCSHARP2005EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VCSHARP2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VCSHARP2005Setup" Before="InstallFinalize" Overridable="yes">VCSHARP2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vcsexpress.exe /InstallVSTemplates        -->
    <Fragment>
        <CustomAction Id="VCSHARP2005InstallVSTemplates" Property="VCSHARP2005EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VCSHARP2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VCSHARP2005InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VCSHARP2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>
  
    <!-- Indicates whether the Visual C# project system is installed as a part of  -->
    <!-- Visual Studio 2005 standard or higher. If this property is set, that      -->
    <!-- means Visual Studio 2005 standard or higher is installed and the Visual   -->
    <!-- C# language tools were installed as a part of VS 2005 setup.              -->
    <Fragment>
        <Property Id="VS2005_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVCSProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Projects\{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Basic 2005 Express IDE component is installed. -->
    <!-- If this property is set, that means Visual Basic 2005 Express Edition is    -->
    <!-- installed on the system.                                                    -->
    <Fragment>
        <Property Id="VB2005EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVbExpressIde2005Component" Guid="FCDD3EF0-FFF4-4391-9467-AA48ADC7028F" Type="file">
                <FileSearch Id="VbExpressIde2005" Name="vbexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vbexpress.exe /setup                        -->
    <Fragment>
        <CustomAction Id="VB2005Setup" Property="VB2005EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VB2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VB2005Setup" Before="InstallFinalize" Overridable="yes">VB2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vbexpress.exe /InstallVSTemplates           -->
    <Fragment>
        <CustomAction Id="VB2005InstallVSTemplates" Property="VB2005EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VB2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VB2005InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VB2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual Basic project system is installed as a part of -->
    <!-- Visual Studio 2005 standard or higher. If this property is set, that        -->
    <!-- means Visual Studio 2005 standard or higher is installed and the Visual     -->
    <!-- Basic language tools were installed as a part of VS 2005 setup.             -->
    <Fragment>
        <Property Id="VS2005_IDE_VB_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVBProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Projects\{F184B08F-C81C-45f6-A57F-5ABD9991F28F}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Web Developer 2005 Express IDE component is installed.  -->
    <!-- If this property is set, that means Visual Web Developer 2005 Express Edition is     -->
    <!-- installed on the system.                                                             -->
    <Fragment>
        <Property Id="VWD2005EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVwdExpressIde2005Component" Guid="56B053EA-AEFA-490A-A537-5EA145574862" Type="file">
                <FileSearch Id="VwdExpressIde2005" Name="vwdexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vwdexpress.exe /setup                               -->
    <Fragment>
        <CustomAction Id="VWD2005Setup" Property="VWD2005EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VWD2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VWD2005Setup" Before="InstallFinalize" Overridable="yes">VWD2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vwdexpress.exe /InstallVSTemplates                  -->
    <Fragment>
        <CustomAction Id="VWD2005InstallVSTemplates" Property="VWD2005EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VWD2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VWD2005InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VWD2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual Web Developer project system is installed as a part of -->
    <!-- Visual Studio 2005 standard or higher. If this property is set, that                -->
    <!-- means Visual Studio 2005 standard or higher is installed and the Visual             -->
    <!-- Web Developer language tools were installed as a part of VS 2005 setup.             -->
    <Fragment>
        <Property Id="VS2005_IDE_VWD_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVWDProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Projects\{E24C65DC-7377-472B-9ABA-BC803B73C61A}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual C++ 2005 Express IDE component is installed. -->
    <!-- If this property is set, that means Visual C++ 2005 Express Edition is    -->
    <!-- installed on the system.                                                  -->
    <Fragment>
        <Property Id="VC2005EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVcExpressIde2005Component" Guid="83D8DFB7-73ED-4C83-9606-805F4CD7E1EE" Type="file">
                <FileSearch Id="VcExpressIde2005" Name="vcexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vcexpress.exe /setup                      -->
    <Fragment>
        <CustomAction Id="VC2005Setup" Property="VC2005EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VC2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VC2005Setup" Before="InstallFinalize" Overridable="yes">VC2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vcexpress.exe /InstallVSTemplates         -->
    <Fragment>
        <CustomAction Id="VC2005InstallVSTemplates" Property="VC2005EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VC2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VC2005InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VC2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual C++ project system is installed as a part of -->
    <!-- Visual Studio 2005 standard or higher. If this property is set, that      -->
    <!-- means Visual Studio 2005 standard or higher is installed and the Visual   -->
    <!-- C++ language tools were installed as a part of VS 2005 setup.             -->
    <Fragment>
        <Property Id="VS2005_IDE_VC_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVCProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Projects\{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual J# 2005 Express IDE component is installed.  -->
    <!-- If this property is set, that means Visual J# 2005 Express Edition is     -->
    <!-- installed on the system.                                                  -->
    <Fragment>
        <Property Id="VJSHARP2005EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVjsExpressIde2005Component" Guid="7077FCC9-C3E4-437E-83ED-D5D7D8D9BB6C" Type="file">
                <FileSearch Id="VjsExpressIde2005" Name="vjsexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vjsexpress.exe /setup                     -->
    <Fragment>
        <CustomAction Id="VJSHARP2005Setup" Property="VJSHARP2005EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VJSHARP2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VJSHARP2005Setup" Before="InstallFinalize" Overridable="yes">VJSHARP2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vjsexpress.exe /InstallVSTemplates        -->
    <Fragment>
        <CustomAction Id="VJSHARP2005InstallVSTemplates" Property="VJSHARP2005EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VJSHARP2005EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VJSHARP2005InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VJSHARP2005EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual J# project system is installed as a part of -->
    <!-- Visual Studio 2005 standard or higher. If this property is set, that     -->
    <!-- means Visual Studio 2005 standard or higher is installed and the Visual  -->
    <!-- J# language tools were installed as a part of VS 2005 setup.             -->
    <Fragment>
        <Property Id="VS2005_IDE_VJSHARP_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVJSProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Projects\{E6FDF86B-F3D1-11D4-8576-0002A516ECE8}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio Code Name "Orcas" Development Tools   -->
    <!-- for .NET Framework 3.0 add-in is installed for Visual Studio 2005.        -->
    <Fragment>
        <Property Id="VSEXTENSIONS_FOR_NETFX30_INSTALLED" Secure="yes">
            <ComponentSearch Id="SearchForVSExtensionsForNetfx30RootComponent" Guid="72616A39-A8E6-4187-BC32-0950598B4499" Type="file" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio Team Test project system is installed -->
    <Fragment>
      <Property Id="VS2005_IDE_VSTS_TESTSYSTEM_INSTALLED" Secure="yes">
        <RegistrySearch Id="SearchForVSTSTestSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Projects\{3AC096D0-A1C2-E12C-1390-A8335801FDAB}" Name="Package" Type="raw" />
      </Property>
    </Fragment>

    <!-- Indicates whether the Web Application Project is installed as a part of  -->
    <!-- Visual Studio 2005 standard or higher. This project type is installed    -->
    <!-- as a standalone package and as a part of Visual Studio 2005 SP1.         -->
    <Fragment>
        <Property Id="VS2005_WAP_PROJECT_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVS2005WAPProject" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\8.0\Packages\{349c5850-65df-11da-9384-00065b846f21}" Name="ProductName" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual Studio 2005 standard edition -->
    <!-- and higher.                                                              -->
    <Fragment>
        <Property Id="VS2005_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVS2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VS\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual Basic 2005 Express Edition.  -->
    <Fragment>
        <Property Id="VB2005EXPRESS_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVBExp2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VB\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual C++ 2005 Express Edition.    -->
    <Fragment>
        <Property Id="VC2005EXPRESS_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVCExp2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual C# 2005 Express Edition.     -->
    <Fragment>
        <Property Id="VCSHARP2005EXPRESS_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVCSharpExp2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VCS\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual J# 2005 Express Edition.     -->
    <Fragment>
        <Property Id="VJSHARP2005EXPRESS_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVJSharpExp2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VJS\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual Web Developer 2005 Express   -->
    <!-- Edition.                                                                 -->
    <Fragment>
        <Property Id="VWD2005EXPRESS_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVWDExp2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VNS\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates the service pack level for Visual Studio 2005 Team Foundation. -->
    <Fragment>
        <Property Id="VSTF2005_SP_LEVEL" Secure="yes">
            <RegistrySearch Id="SearchForVSTF2005SP1" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VSTF\Servicing\8.0" Name="SP" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether or not the Document Explorer 2005 runtime components are installed.  -->
    <Fragment>
        <Property Id="DEXPLORE_2005_INSTALLED" Secure="yes">
            <RegistrySearch Id="Dexplore2005RegKey" Root="HKLM" Key="Software\Microsoft\DExplore\v2.0.50727\1033" Name="Install" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether or not the J# redistributable package 2.0 first edition is installed.  -->
    <Fragment>
        <Property Id="JSHARP_REDIST_20_INSTALLED" Secure="yes">
            <RegistrySearch Id="JSharpRedist20RegKey" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft Visual J# 2.0 Redistributable Package" Name="UninstallPath" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether or not the J# redistributable package 2.0 second edition is installed. -->
    <Fragment>
        <Property Id="JSHARP_REDIST_20SE_INSTALLED" Secure="yes">
            <RegistrySearch Id="JSharpRedist20SERegKey" Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft Visual J# 2.0 Redistributable Package - SE" Name="UninstallPath" Type="raw" />
        </Property>
    </Fragment>

    <!-- Visual Studio 2008 -->
    <Fragment>
        <Property Id="VS90DEVENV" Secure="yes">
            <RegistrySearch Id="VS90DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS90_ITEMTEMPLATES_DIR" Secure="yes">
            <RegistrySearch Id="VS90DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentPath" Type="raw">
                <DirectorySearch Id="VS90ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS90_PROJECTTEMPLATES_DIR" Secure="yes">
            <RegistrySearch Id="VS90DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Setup\VS" Name="EnvironmentPath" Type="raw">
                <DirectorySearch Id="VS90ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <Property Id="VS90_SCHEMAS_DIR" Secure="yes">
            <RegistrySearch Id="VS90ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="9.0" Type="raw">
                <DirectorySearch Id="VS90XmlPathSearch" Path="Xml" Depth="1">
                  <DirectorySearch Id="VS90XmlSchemasPathSearch" Path="Schemas" Depth="1" />
                </DirectorySearch>
            </RegistrySearch>
        </Property>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS90Setup" Property="VS90DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS90DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS90Setup" Before="InstallFinalize" Overridable="yes">VS90DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS90SetupNoVSTemplates" Property="VS90DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS90DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS90SetupNoVSTemplates" Before="InstallFinalize" Overridable="yes">VS90DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <Fragment>
        <CustomAction Id="VS90InstallVSTemplates" Property="VS90DEVENV" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VS90DEVENV" />

        <InstallExecuteSequence>
            <Custom Action="VS90InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VS90DEVENV</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Location of the Visual Studio 2008 root installation directory. -->
    <Fragment>
        <Property Id="VS90_ROOT_FOLDER" Secure="yes">
            <RegistrySearch Id="SearchForVS90RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="9.0" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual C# 2008 Express IDE component is installed.  -->
    <!-- If this property is set, that means Visual C# 2008 Express Edition is     -->
    <!-- installed on the system.                                                  -->
    <Fragment>
        <Property Id="VCSHARP90EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVcsExpressIde90Component" Guid="EF0BC34E-6AAE-47C0-8FEC-7E00C2638209" Type="file" >
                <FileSearch Id="VcsExpressIde90" Name="vcsexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vcsexpress.exe /setup                     -->
    <Fragment>
        <CustomAction Id="VCSHARP90Setup" Property="VCSHARP90EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VCSHARP90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VCSHARP90Setup" Before="InstallFinalize" Overridable="yes">VCSHARP90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>
  
    <!-- Custom action definition to run vcsexpress.exe /InstallVSTemplates        -->
    <Fragment>
        <CustomAction Id="VCSHARP90InstallVSTemplates" Property="VCSHARP90EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VCSHARP90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VCSHARP90InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VCSHARP90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual C# project system is installed as a part of  -->
    <!-- Visual Studio 2008 standard or higher. If this property is set, that      -->
    <!-- means Visual Studio 2008 standard or higher is installed and the Visual   -->
    <!-- C# language tools were installed as a part of VS 2008 setup.              -->
    <Fragment>
        <Property Id="VS90_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVCS90ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Projects\{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Basic 2008 Express IDE component is installed. -->
    <!-- If this property is set, that means Visual Basic 2008 Express Edition is    -->
    <!-- installed on the system.                                                    -->
    <Fragment>
        <Property Id="VB90EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVbExpressIde90Component" Guid="010A50C6-8604-4BA2-8CA1-4EC3A5B861B2" Type="file">
                <FileSearch Id="VbExpressIde90" Name="vbexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vbexpress.exe /setup                        -->
    <Fragment>
        <CustomAction Id="VB90Setup" Property="VB90EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VB90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VB90Setup" Before="InstallFinalize" Overridable="yes">VB90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vbexpress.exe /InstallVSTemplates           -->
    <Fragment>
        <CustomAction Id="VB90InstallVSTemplates" Property="VB90EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VB90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VB90InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VB90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual Basic project system is installed as a part of -->
    <!-- Visual Studio 2008 standard or higher. If this property is set, that        -->
    <!-- means Visual Studio 2008 standard or higher is installed and the Visual     -->
    <!-- Basic language tools were installed as a part of VS 2008 setup.             -->
    <Fragment>
        <Property Id="VS90_IDE_VB_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVB90ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Projects\{F184B08F-C81C-45f6-A57F-5ABD9991F28F}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Web Developer 2008 Express IDE component is installed.  -->
    <!-- If this property is set, that means Visual Web Developer 2008 Express Edition is     -->
    <!-- installed on the system.                                                             -->
    <Fragment>
        <Property Id="VWD90EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVwdExpressIde90Component" Guid="C7F516CB-CB5C-41B7-9CB4-33927C4DD206" Type="file">
                <FileSearch Id="VwdExpressIde90" Name="vwdexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vwdexpress.exe /setup                               -->
    <Fragment>
        <CustomAction Id="VWD90Setup" Property="VWD90EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VWD90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VWD90Setup" Before="InstallFinalize" Overridable="yes">VWD90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vwdexpress.exe /InstallVSTemplates                  -->
    <Fragment>
        <CustomAction Id="VWD90InstallVSTemplates" Property="VWD90EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VWD90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VWD90InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VWD90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual Web Developer project system is installed as a part of -->
    <!-- Visual Studio 2008 standard or higher. If this property is set, that                -->
    <!-- means Visual Studio 2008 standard or higher is installed and the Visual             -->
    <!-- Web Developer language tools were installed as a part of VS 2008 setup.             -->
    <Fragment>
        <Property Id="VS90_IDE_VWD_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVWD90ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Projects\{E24C65DC-7377-472B-9ABA-BC803B73C61A}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual C++ 2008 Express IDE component is installed. -->
    <!-- If this property is set, that means Visual C++ 2008 Express Edition is    -->
    <!-- installed on the system.                                                  -->
    <Fragment>
        <Property Id="VC90EXPRESS_IDE" Secure="yes">
            <ComponentSearch Id="SearchForVcExpressIde90Component" Guid="147EB31D-8042-4E8F-A3EC-D32C04ED652A" Type="file">
                <FileSearch Id="VcExpressIde90" Name="vcexpress.exe"/>
            </ComponentSearch>
        </Property>
    </Fragment>

    <!-- Custom action definition to run vcexpress.exe /setup                      -->
    <Fragment>
        <CustomAction Id="VC90Setup" Property="VC90EXPRESS_IDE" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VC90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VC90Setup" Before="InstallFinalize" Overridable="yes">VC90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Custom action definition to run vcexpress.exe /InstallVSTemplates         -->
    <Fragment>
        <CustomAction Id="VC90InstallVSTemplates" Property="VC90EXPRESS_IDE" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
        <PropertyRef Id="VC90EXPRESS_IDE" />

        <InstallExecuteSequence>
            <Custom Action="VC90InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VC90EXPRESS_IDE</Custom>
        </InstallExecuteSequence>
    </Fragment>

    <!-- Indicates whether the Visual C++ project system is installed as a part of -->
    <!-- Visual Studio 2008 standard or higher. If this property is set, that      -->
    <!-- means Visual Studio 2008 standard or higher is installed and the Visual   -->
    <!-- C++ language tools were installed as a part of VS 2008 setup.             -->
    <Fragment>
        <Property Id="VS90_IDE_VC_PROJECTSYSTEM_INSTALLED" Secure="yes">
            <RegistrySearch Id="SearchForVC90ProjectSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Projects\{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}" Name="DefaultProjectExtension" Type="raw" />
        </Property>
    </Fragment>

    <!-- Indicates whether the Visual Studio Team Test project system is installed -->
    <Fragment>
      <Property Id="VS90_IDE_VSTS_TESTSYSTEM_INSTALLED" Secure="yes">
        <RegistrySearch Id="SearchForVSTS90TestSystemUnderVSSetup" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\9.0\Projects\{3AC096D0-A1C2-E12C-1390-A8335801FDAB}" Name="Package" Type="raw" />
      </Property>
    </Fragment>

  
 <!-- Visual Studio 2010 CTP -->
 <Fragment>
    <Property Id="VS100DEVENV" Secure="yes">
      <RegistrySearch Id="VS100DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS100_ITEMTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS100DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS100ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS100_PROJECTTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS100DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS100ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS100_SCHEMAS_DIR" Secure="yes">
      <RegistrySearch Id="VS100ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="10.0" Type="raw">
        <DirectorySearch Id="VS100XmlPathSearch" Path="Xml" Depth="1">
          <DirectorySearch Id="VS100XmlSchemasPathSearch" Path="Schemas" Depth="1" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <CustomAction Id="VS100Setup" Property="VS100DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS100DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="VS100Setup" Before="InstallFinalize" Overridable="yes">VS100DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="VS100InstallVSTemplates" Property="VS100DEVENV" ExeCommand="/InstallVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS100DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="VS100InstallVSTemplates" Before="InstallFinalize" Overridable="yes">VS100DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Location of the Visual Studio 2008 root installation directory. -->
  <Fragment>
    <Property Id="VS100_ROOT_FOLDER" Secure="yes">
      <RegistrySearch Id="SearchForVS100RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="10.0" Type="raw" />
    </Property>
  </Fragment>
</Wix>
