<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Ankh.Configuration">
      <ComponentRef Id="C_Ankh.Configuration.dll"/>
    </ComponentGroup>
    <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.Configuration.TargetDir)">
      <Component Id="C_Ankh.Configuration.dll" Guid="07D8FE57-F5F6-401C-9764-6F1B8A7F7B8C">
        <File Id="CF_Ankh.Configuration.dll" Name="Ankh.Configuration.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
        <?ifdef Ankh_Pdb?>
        <File Id="CF_Ankh.Configuration.pdb" Name="Ankh.Configuration.pdb" Checksum="yes" Vital="yes" />
        <?endif?>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
