<?xml version="1.0" encoding="utf-8" ?> 
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id="FR_Lib">
    <Feature Id="F_Libs" Display="hidden" Level="1">
        <ComponentRef Id="AUCH_RegAsm1"/>
        <ComponentRef Id="AUCH_RegAsm2"/>
        <ComponentRef Id="AUCH_RegAsm3"/>
        <ComponentRef Id="AUCH_RegAsm4"/>
        <ComponentRef Id="AUCH_RegAsm5"/>
        <ComponentRef Id="AUCH_RegAsm6"/>
        <ComponentRef Id="AUCH_RegAsm7"/>
        <ComponentRef Id="AUCH_RegAsm8"/>
        <ComponentRef Id="AUCH_RegAsm9"/>
        <ComponentRef Id="AUCH_RegAsm10"/>
        <ComponentRef Id="AUCH_RegAsm11"/>
        <ComponentRef Id="AUCH_RegAsm12"/>
        <ComponentRef Id="AUCH_RegAsm13"/>
        <ComponentRef Id="AUCH_RegAsm14"/>
        <ComponentRef Id="AUCH_RegAsm15"/>
        <ComponentRef Id="AUCH_RegAsm16"/>
        <ComponentRef Id="AUCH_RegAsm17"/>
        <ComponentRef Id="AUCH_RegAsm18"/>
        <ComponentRef Id="AUCH_RegAsm19"/>
        <ComponentRef Id="AUCH_RegAsm20"/>
        <ComponentRef Id="AUCH_RegAsm21"/>
        <ComponentRef Id="AUCH_RegAsm22"/>
        <ComponentRef Id="AUCH_RegAsm23"/>
        <ComponentRef Id="AUCH_RegAsm24"/>
        <ComponentRef Id="AUCH_RegAsm25"/>
        
        <ComponentRef Id="Libs1" />
        <ComponentRef Id="Libs2" />
        <ComponentRef Id="Libs3" />
        <ComponentRef Id="Libs4" />
        <ComponentRef Id="Libs5" />
        <ComponentRef Id="Libs6" />
        <ComponentRef Id="Libs7" />
        <ComponentRef Id="Libs8" />
        <ComponentRef Id="Libs9" />
        <ComponentRef Id="Libs10" />
    </Feature>
        <DirectoryRef Id="TARGETDIR" FileSource="..\$(var.builddir)\">
            <!-- Register AnkhUserControlHost -->
            <Component Id="AUCH_RegAsm1" DiskId="1" Guid="37DAC5C0-D247-4ffd-83F7-4E66840766EC">
				<RegistryValue Id="AUCH_Reg_registry0" Root="HKCR" Type="string" KeyPath="yes"
                    Key="AnkhUserControlHost.AnkhUserControlHostCtl"
                    Value="AnkhUserControlHostCtl Class" />
			</Component>
			<Component Id="AUCH_RegAsm2" DiskId="1" Guid="C9AFCDD2-4812-48fb-B7C8-D43B18582708">
				<RegistryValue Id="AUCH_Reg_registry1" Root="HKCR" Type="string"
                    Key="AnkhUserControlHost.AnkhUserControlHostCtl\CLSID" 
                    Value="{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}" />
            </Component>
            <Component Id="AUCH_RegAsm3" DiskId="1" Guid="6209124C-7ABD-47EA-8FEE-0D2601903503">
				<RegistryValue Id="AUCH_Reg_registry2" Root="HKCR" Type="string"
                    Key="AnkhUserControlHost.AnkhUserControlHostCtl\CurVer"
                    Value="AnkhUserControlHost.AnkhUserControlHostCtl.1" />
			</Component>
			<Component Id="AUCH_RegAsm4" DiskId="1" Guid="8CFABD30-0D6C-409C-8DD6-462DA5E22D6E">
				<RegistryValue Id="AUCH_Reg_registry3" Root="HKCR" Type="string"
                    Key="AnkhUserControlHost.AnkhUserControlHostCtl.1" 
                    Value="AnkhUserControlHostCtl Class" />
            </Component>
            <Component Id="AUCH_RegAsm5" DiskId="1" Guid="F52F8C4A-9B8D-43FB-BA2F-AA89057F388D">
				<RegistryValue Id="AUCH_Reg_registry4" Root="HKCR" Type="string"
                    Key="AnkhUserControlHost.AnkhUserControlHostCtl.1\CLSID"
                    Value="{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}" />
			</Component>
			<Component Id="AUCH_RegAsm6" DiskId="1" Guid="34DFA4FA-D1DD-428B-8922-C0444E271F91">
				<RegistryValue Id="AUCH_Reg_registry5" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}"
                    Value="AnkhUserControlHostCtl Class" />
            </Component>
            <Component Id="AUCH_RegAsm7" DiskId="1" Guid="1EA13687-2D5C-4054-A66B-8974B7977B95">
				<RegistryKey Id="AUCH_Reg_registry6" Root="HKCR" Action="createAndRemoveOnUninstall"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\Control" />
			</Component>
			<Component Id="AUCH_RegAsm8" DiskId="1" Guid="ED72509C-999D-42DD-A696-D1AAA1167271">
				<RegistryValue Id="AUCH_Reg_registry7" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\InprocServer32" 
                    Value="[TARGETDIR]\AnkhUserControlHost.dll" />
            </Component>
            <Component Id="AUCH_RegAsm9" DiskId="1" Guid="6AA9E66F-9822-4371-915A-D6DA541217F4">
				<RegistryValue Id="AUCH_Reg_registry8" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\InprocServer32"
                    Name="ThreadingModel" Value="Apartment" />
			</Component>
			<Component Id="AUCH_RegAsm10" DiskId="1" Guid="ABB388A0-3A1A-4A81-A31D-4E66AE5A1B8C">
				<RegistryValue Id="AUCH_Reg_registry9" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\MiscStatus" 
                    Value="0" />
            </Component>
            <Component Id="AUCH_RegAsm11" DiskId="1" Guid="087421D1-EEFB-43AB-807D-66E74E61FD3F">
				<RegistryValue Id="AUCH_Reg_registry10" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\MiscStatus\1"
                    Value="131473" />
			</Component>
			<Component Id="AUCH_RegAsm12" DiskId="1" Guid="A407E828-0262-439D-947A-6A9DE350C0D1">
				<RegistryValue Id="AUCH_Reg_registry11" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\ProgID" 
                    Value="AnkhUserControlHost.AnkhUserControlHostCtl.1" />
            </Component>
            <Component Id="AUCH_RegAsm13" DiskId="1" Guid="848E0BF5-0091-46F8-A285-13D86785F380">
				<RegistryKey Id="AUCH_Reg_registry12" Root="HKCR" Action="createAndRemoveOnUninstall"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\Programmable" />
			</Component>
			<Component Id="AUCH_RegAsm14" DiskId="1" Guid="E7666628-3711-4A11-AED9-2DEF022EE9FA">
				<RegistryValue Id="AUCH_Reg_registry13" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\TypeLib"
                    Value="{a346e700-ccd2-4377-a4e5-5b30275493b1}" />
			</Component>
			<Component Id="AUCH_RegAsm15" DiskId="1" Guid="BB93DC7C-DC8C-4CEA-B0A1-9FE280D2902B">
				<RegistryValue Id="AUCH_Reg_registry14" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\Version"
                    Value="1.01" />
			</Component>
			<Component Id="AUCH_RegAsm16" DiskId="1" Guid="931B140F-60F6-47B7-8E25-407CCAF44AAB">
				<RegistryValue Id="AUCH_Reg_registry15" Root="HKCR" Type="string"
                    Key="CLSID\{88e212e9-dba6-4ca8-a820-05a9b54a3ba5}\VersionIndependentProgID" 
                    Value="AnkhUserControlHost.AnkhUserControlHostCtl" />
            </Component>
            <Component Id="AUCH_RegAsm17" DiskId="1" Guid="3DF610EB-C36F-43FE-8C16-38D8EB4DF863">
				<RegistryValue Id="AUCH_Reg_registry16" Root="HKCR" Type="string"
                    Key="Interface\{412B14B5-B2FC-463B-A97D-EE072F939A38}"
                    Value="IAnkhUserControlHostCtlCtl" />
			</Component>
			<Component Id="AUCH_RegAsm18" DiskId="1" Guid="80599A33-3414-4D2C-952B-D44CC6EE02B7">
				<RegistryValue Id="AUCH_Reg_registry17" Root="HKCR" Type="string"
                    Key="Interface\{412B14B5-B2FC-463B-A97D-EE072F939A38}\ProxyStubClsid" 
                    Value="{00020424-0000-0000-C000-000000000046}" />
            </Component>
            <Component Id="AUCH_RegAsm19" DiskId="1" Guid="04634DD9-9579-480E-8E60-D7B35C61A43E">
				<RegistryValue Id="AUCH_Reg_registry18" Root="HKCR" Type="string"
                    Key="Interface\{412B14B5-B2FC-463B-A97D-EE072F939A38}\ProxyStubClsid32" 
                    Value="{00020424-0000-0000-C000-000000000046}" />
            </Component>
            <Component Id="AUCH_RegAsm20" DiskId="1" Guid="A1478B00-9ECD-4FF5-85D8-35FCF52F3CF8">
				<RegistryValue Id="AUCH_Reg_registry19" Root="HKCR" Type="string"
                    Key="Interface\{412B14B5-B2FC-463B-A97D-EE072F939A38}\TypeLib"
                    Value="{A346E700-CCD2-4377-A4E5-5B30275493B1}" />
			</Component>
			<Component Id="AUCH_RegAsm21" DiskId="1" Guid="880F75FB-1CFB-4684-AE5B-50D3CF33FD4A">
				<RegistryValue Id="AUCH_Reg_registry20" Root="HKCR" Type="string"
                    Key="Interface\{412B14B5-B2FC-463B-A97D-EE072F939A38}\TypeLib" 
                    Name="Version" Value="1.0" />
            </Component>
            <Component Id="AUCH_RegAsm22" DiskId="1" Guid="AA808D3E-54E5-4E36-9EB1-E14E2268ADAB">
				<RegistryValue Id="AUCH_Reg_registry21" Root="HKCR" Type="string"
                    Key="TypeLib\{A346E700-CCD2-4377-A4E5-5B30275493B1}\1.0" 
                    Value="Xtreme Simplicity AnkhUserControlHost 1.0 Type Library" />
            </Component>
            <Component Id="AUCH_RegAsm23" DiskId="1" Guid="0E11F17F-0B7B-452D-A095-4DCAF1AD66DD">
				<RegistryValue Id="AUCH_Reg_registry22" Root="HKCR" Type="string"
                    Key="TypeLib\{A346E700-CCD2-4377-A4E5-5B30275493B1}\1.0\0\win32"
                    Value="[TARGETDIR]\AnkhUserControlHost.dll" />
			</Component>
			<Component Id="AUCH_RegAsm24" DiskId="1" Guid="2D71C3CE-874D-4A7A-BDF2-D805C70DF2F9">
				<RegistryValue Id="AUCH_Reg_registry23" Root="HKCR" Type="string"
                    Key="TypeLib\{A346E700-CCD2-4377-A4E5-5B30275493B1}\1.0\FLAGS" 
                    Value="0" />
            </Component>
            <Component Id="AUCH_RegAsm25" DiskId="1" Guid="881D0DA6-5EB4-4419-9ABF-09DEF77475FA">
				<RegistryValue Id="AUCH_Reg_registry24" Root="HKCR" Type="string"
                    Key="TypeLib\{A346E700-CCD2-4377-A4E5-5B30275493B1}\1.0\HELPDIR" 
                    Value="[TARGETDIR]" />
            </Component>


            <Component Id="Libs1" DiskId="1" Guid="6EB4C04C-5B15-4fc3-99E9-4CC9302C3CD4" KeyPath="yes">
                <File Id="CF_AnkhUserControlHost.dll" 
                    Name="AnkhUserControlHost.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs2" DiskId="1" Guid="77EE427F-33F3-414F-8283-E1A7A09201AB">
                <File Id="CF_AnkhUserControlHostLib.dll" Name="AnkhUserControlHostLib.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs3" DiskId="1" Guid="C700AA54-4729-4FE7-BFB1-50A507A46373">
                <File Id="CF_AxInterop.SHDocVw.dll" Name="AxInterop.SHDocVw.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs4" DiskId="1" Guid="F1A9C647-82F3-422A-9D93-371A671E5750">
                <File Id="CF_envdte.dll" Name="envdte.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs5" DiskId="1" Guid="B1B0F173-FA04-481D-8043-3D961522786C">
                <File Id="CF_extensibility.dll" Name="extensibility.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs6" DiskId="1" Guid="9F2B1C9A-A5BE-4B0F-8F5C-573E5D1934FA">
                <File Id="CF_Interop.esproj.dll" Name="Interop.esproj.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs7" DiskId="1" Guid="EE26B734-825A-445B-BA85-C6B9BCC0B84A">
                <File Id="CF_Interop.SHDocVw.dll" Name="Interop.SHDocVw.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs8" DiskId="1" Guid="6EE2156E-B81E-41E5-9DE9-06DAC7CBD956">
                <File Id="CF_office.dll" Name="OFFICE.DLL"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs9" DiskId="1" Guid="D00CDBB8-820F-4DC5-A23E-1B35EE9160F5">
                <File Id="CF_Microsoft.VisualStudio.OLE.Interop.dll" Name="Microsoft.VisualStudio.OLE.Interop.dll"
                    Vital="yes" DiskId="1" />
            </Component>
            <Component Id="Libs10" DiskId="1" Guid="54BE2DEA-AD40-4429-B5E3-26632141EDC5">
                <File Id="CF_Microsoft.VisualStudio.Shell.Interop.dll" Name="Microsoft.VisualStudio.Shell.Interop.dll"
                    Vital="yes" DiskId="1" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>

