<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="Ankh">
      <ComponentGroupRef Id="Ankh.Ids" />
      <ComponentGroupRef Id="Ankh.Services" />
      <ComponentGroupRef Id="Ankh.Migrate" />
      <ComponentGroupRef Id="LOCAL_SharpSvn_Win32"/>
      <ComponentGroupRef Id="LOCAL_SharpSvnUI"/>
      <ComponentRef Id="C_Ankh.dll" />
    </ComponentGroup>
    <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.TargetDir)">
      <Component Id="C_Ankh.dll" DiskId="1" Guid="02BBB6F8-8035-421f-83EC-7CA51E05B981">
        <File Id="CF_Ankh.dll" Name="Ankh.dll" Checksum="yes" KeyPath="yes" Vital="yes"  />
        <?ifdef Ankh_Pdb?>
        <File Id="CF_Ankh.pdb" Name="Ankh.pdb" Checksum="yes" Vital="yes" />
        <?endif?>
      </Component>
      <!-- TODO: Add localized resource dll's -->
    </DirectoryRef>
  </Fragment>
</Wix>
