<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ErrorReport.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ErrorReport.GUI.Properties.Settings.ConnectionString"
            connectionString="Data Source=sherilyn\sqlexpress;Initial Catalog=ErrorReports-test;Integrated Security=True;Connection TimeOut=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ErrorReport.GUI.Properties.Settings>
            <setting name="ReplyFont" serializeAs="String">
                <value>Lucida Console, 8.25pt</value>
            </setting>
            <setting name="MessageFont" serializeAs="String">
                <value>Lucida Console, 8.25pt</value>
            </setting>
            <setting name="BaseFont" serializeAs="String">
                <value>Tahoma, 8.25pt</value>
            </setting>
            <setting name="OutlookFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Signature" serializeAs="String">
                <value />
            </setting>
        </ErrorReport.GUI.Properties.Settings>
    </userSettings>
</configuration>