<?xml version="1.0" encoding="utf-8"?>
<Config xmlns="http://ankhsvn.com/Config.xsd">
    <RepositoryExplorer>
    </RepositoryExplorer>    
    
    <!--This command line will be used for spawning an external diff program.
    The options are %base and %mine, which will be replaced with the respective paths when
    a diff is executed.
    If you've installed TortoiseSVN to the default location, you can uncomment the line below
    to use its diff tool -->
    <!--<DiffExePath>"C:\Program Files\TortoiseSVN\TortoiseMerge.exe" /base:%base /yours:%mine</DiffExePath>-->

    <!--This command line will be used for spawning an external merge program.
    The options are %base %theirs %mine %merged, which will be replaced with the respective
    paths when a merge is executed. -->
    <!--<MergeExePath>"C:\Program Files\TortoiseSVN\TortoiseMerge.exe" /base:%base /theirs:%theirs /yours:%mine /merged:%merged</MergeExePath>-->
        
    <LogMessageTemplate><![CDATA[# All lines starting with a # will be ignored
# This template can be modified by editing the Ankh config file, located in %APPDATA%\AnkhSVN
*** # %path%]]>
    </LogMessageTemplate>
    
    <!-- Whether new files should be automatically added to Subversion -->
    <AutoAddNewFiles>true</AutoAddNewFiles>
    
    <Subversion>
        <!-- The path to the directory to use for the Subversion configuration data.
        If not specified, it will use the same config area as other Subversion tools, 
        usually %APPDATA%\Subversion. You can use environment variables in the path, quoted
        with %. -->
        <!--<ConfigDir>%AppData%\Subversion</ConfigDir>-->
        
        <!--This path will be used for spawning svn.exe through the public
        svn command in the VS.NET command window. It is optional. 
        If left out, Ankh will attempt to spawn svn.exe from PATH -->
        <!--<SvnExePath>C:\bin\svn.exe</SvnExePath>-->
        
        <!--This is the name of the administrative subdirectory used by
        Subversion to maintain metadata for the working copy. You should 
        *ONLY* modify this if you know what you are doing and you are 
        experiencing specific problems with Subversion's use of ".svn" for
        the meta-data directory. Working copies checked out using any other
        name than ".svn" will be incompatible with any other Subversion clients
        unless they are also configured to accept alternate directory names.
        If this element is left out, Ankh will default to using the standard
        ".svn" --> 
        <!--<AdminDirectoryName>_svn</AdminDirectoryName>-->
    </Subversion>
</Config>