<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:u="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="Ankh.ExtensionPoints">
      <ComponentRef Id="C_Ankh.ExtensionPoints.dll"/>
      <ComponentRef Id="C_Ankh.ExtensionPoints.xml"/>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.Services.TargetDir)">
      <Component Id="C_Ankh.ExtensionPoints.dll" Guid="173DFEC9-E396-4884-94EE-127D4C7D1D20">
        <File Id="CF_Ankh.ExtensionPoints.dll" Name="Ankh.ExtensionPoints.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
        <?ifdef Ankh_Pdb?>
        <File Id="CF_Ankh.ExtensionPoints.pdb" Name="Ankh.ExtensionPoints.pdb" Checksum="yes" Vital="yes" />
        <?endif?>
      </Component>
      <Component Id="C_Ankh.ExtensionPoints.xml" Guid="755CDB02-E44B-4FD4-B926-52D737A1FD28">
        <File Id="CF_Ankh.ExtensionPoints.xml" Name="Ankh.ExtensionPoints.xml" Vital="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Extension2005">
      <ComponentRef Id="C_Extension2005"/>
    </ComponentGroup>
    <PropertyRef Id="VS2005_ROOT_FOLDER"/>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS2005_ROOT_FOLDER">
        <Directory Name="Common7" Id="Common7_2005">
          <Directory Name="IDE" Id="VSIDE_2005">
            <Directory Name="PublicAssemblies" Id="PublicAssemblies_2005">
              <Component Id="C_Extension2005" Guid="EB729FDC-9A5C-4F70-8556-BFFFF31F4E76">
                <Condition>VS2005DEVENV</Condition>
                <CopyFile Id="CF_Extension2005" FileId="CF_Ankh.ExtensionPoints.dll" DestinationProperty="PublicAssemblies_2005" />
                <CopyFile Id="CF_Extension2005Xml" FileId="CF_Ankh.ExtensionPoints.xml" DestinationProperty="PublicAssemblies_2005" />
                <?define extId=VS2005DEVENV ?>
                <?include $(var.Ankh.ExtensionPoints.ProjectDir)\Ankh.ExtensionReg.wxi?>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Extension2008">
      <ComponentRef Id="C_Extension2008"/>
    </ComponentGroup>
    <PropertyRef Id="VS90_ROOT_FOLDER"/>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="VS90_ROOT_FOLDER">
        <Directory Name="Common7" Id="Common7_2008">
          <Directory Name="IDE" Id="VSIDE_2008">
            <Directory Name="PublicAssemblies" Id="PublicAssemblies_2008">
              <Component Id="C_Extension2008" Guid="F147C06C-3F77-42A2-AD68-D2FA838385D7">
                <Condition>VS90DEVENV</Condition>
                <CopyFile Id="CF_Extension2008" FileId="CF_Ankh.ExtensionPoints.dll" DestinationProperty="PublicAssemblies_2008" />
                <CopyFile Id="CF_Extension2008Xml" FileId="CF_Ankh.ExtensionPoints.xml" DestinationProperty="PublicAssemblies_2008" />
                <?undef extId?>
                <?define extId=VS90DEVENV ?>
                <?include $(var.Ankh.ExtensionPoints.ProjectDir)\Ankh.ExtensionReg.wxi?>
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Extension2010">
      <ComponentRef Id="C_Extension2010"/>
    </ComponentGroup>
    <PropertyRef Id="VS100_ROOT_FOLDER"/>
    <DirectoryRef Id="VSIDE_2010">
      <Directory Name="PublicAssemblies" Id="PublicAssemblies_2010">
        <Component Id="C_Extension2010" Guid="56E444E1-541C-44C2-8DF6-1F48B06B4E06">
          <Condition>VS100DEVENV</Condition>
          <CopyFile Id="CF_Extension2010" FileId="CF_Ankh.ExtensionPoints.dll" DestinationProperty="PublicAssemblies_2010" />
          <CopyFile Id="CF_Extension2010Xml" FileId="CF_Ankh.ExtensionPoints.xml" DestinationProperty="PublicAssemblies_2010" />
          <?undef extId?>
          <?define extId=VS100DEVENV ?>
          <?include $(var.Ankh.ExtensionPoints.ProjectDir)\Ankh.ExtensionReg.wxi?>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="Extension11">
      <ComponentRef Id="C_Extension11"/>
    </ComponentGroup>
    <PropertyRef Id="VS110_ROOT_FOLDER"/>
    <DirectoryRef Id="VSIDE_11">
      <Directory Name="PublicAssemblies" Id="PublicAssemblies_11">
        <Component Id="C_Extension11" Guid="FB6409E2-46E5-4A17-8BCA-565092CCD6B2">
          <Condition>VS110DEVENV</Condition>
          <CopyFile Id="CF_Extension11" FileId="CF_Ankh.ExtensionPoints.dll" DestinationProperty="PublicAssemblies_11" />
          <CopyFile Id="CF_Extension11Xml" FileId="CF_Ankh.ExtensionPoints.xml" DestinationProperty="PublicAssemblies_11" />
          <?undef extId?>
          <?define extId=VS110DEVENV ?>
          <?include $(var.Ankh.ExtensionPoints.ProjectDir)\Ankh.ExtensionReg.wxi?>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
