<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Module Id="Ankh" Guid="0DE8324A-FD3A-49ba-AC66-8AF628ED74D8" Language="1033" 
        Version="1">
        <Package Description="Ankh" Comments="NSvn Merge Module" 
            Manufacturer="Arild Fines, Per Krämer &amp; Kristin Borud" 
            InstallerVersion="200" Platforms="Intel"
            Languages="1033" Compressed="yes" SummaryCodepage="1252"
            Id="????????-????-????-????-????????????"/>
            
        <Directory Id='TARGETDIR'   Name='SourceDir'>
            <Directory  Id='appDir' Name='.'/>
        </Directory>
        
        <!-- Include the Fragments needed for the merge module -->
        <FragmentRef Id="FR_Utils" />
        <FragmentRef Id="FR_Ankh.UI" />
        <FragmentRef Id="FR_Ankh" />
        <FragmentRef Id="FR_apr-iconv" />
        <FragmentRef Id="FR_ReposInstaller" />
        <FragmentRef Id="FR_Lib" />
        <DirectoryRef Id="appDir">
          <Component Id="FR_Ankh_tlb">
            <File Id="Ankh.msm.file0" Name="Ankh.tlb" src="C:\projects\Ankh\src\build-Release\Ankh.tlb" />
          </Component>
          <Component Id="CF_Readme">
            <File Id="F_README" Name="README.RTF" LongName="readme.rtf"
              KeyPath="yes" Vital="yes" Compressed="yes" src="$(var.readmepath)" />
          </Component>

        </DirectoryRef>

    </Module>
</Wix>
