<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Module Id="NSvn" Guid="0DE8324A-FD3A-49ba-AC66-8AF628ED74D8" Language="1033" 
        Version="1">
        <Package Description="NSvn" Comments="NSvn Merge Module" 
            Manufacturer="Arild Fines, Per Krämer &amp; Kristin Borud" 
            InstallerVersion="200" Platforms="Intel"
            Languages="1033" Compressed="yes" SummaryCodepage="1252"/>
            
        <Directory Id='TARGETDIR'   Name='SourceDir'>
            <Directory  Id='appDir' Name='.'/>
        </Directory>
        
        <!-- Include the Fragments needed for the merge module -->
        <FragmentRef Id="FR_NSvn.Common" />
        <FragmentRef Id="FR_NSvn.Core" />

        <!-- Include the Licence file -->
        <DirectoryRef Id="appDir">
            <Component Id="C__LICENCE.rtf" Guid="FE638B20-C4C1-4694-9701-CE26F30DDE90">
                <File Id="CF_LICENCE.rtf" Name="LICENCE.rtf" LongName="LICENCE.rtf"
                    Vital="yes" KeyPath="yes" src="..\LICENCE.rtf"/>
            </Component>
        </DirectoryRef>
    </Module>
</Wix>
