body
{
    background-color: #FFFFFF;
	font-size: 12pt;
    font-family: Georgia;
}
    

h1
{
	font-family: Verdana;
	font-size: 10pt;
}

h2
{
	font-family: Garamond;
	font-size: 18pt;
	text-align: center;
}

h3
{
	font-family: Verdana;
	font-size: 12pt;
}

h4
{
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
}

.banner
{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	height: 140px;
}

.text
{
    background-color: #EEEEEE;
    left: 130px;
	position: absolute;
	top: 130px;
	padding: 10px;
	height: 100%;
	width: 80%;
}

.main
{
    background-color: #EEEEEE;
	left: 130px;
	position: absolute;
	top: 130px;
	padding: 10px;
	height: 100%;
}
    
A.link
{
    font-size: 9pt;
    color: Black;
    font-family: Arial;
    position: static;
}

A.link:hover
{
    color: #809cc8;
}

table
{
    border-style: ridge;
    font-size: 9pt;
    color: Black;
    font-family: Arial;
    position: static;
    
}