<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Visual Studio 2005 (8.0) -->
  <Fragment>
    <CustomAction Id="AnkhVS2005Setup" Property="VS2005DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2005DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS80_Tick" Guid="E72BD986-BC3D-44A0-AB18-F7071BA63231">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="8.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS80">
      <ComponentRef Id="VS80_Tick"/>
    </ComponentGroup>

    <Property Id="VS80_TICKED" Secure="yes">
      <RegistrySearch Id="VS80_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="8.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2005Setup" Before="InstallFinalize" Overridable="yes">VS2005DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS80_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Visual Studio 2008 (9.0) -->
  <Fragment>
    <CustomAction Id="AnkhVS2008Setup" Property="VS90DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS90DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS90_Tick" Guid="ED9BCCD4-581A-4D36-B8ED-309C4D9A71FF">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="9.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS90">
      <ComponentRef Id="VS90_Tick"/>
    </ComponentGroup>

    <Property Id="VS90_TICKED" Secure="yes">
      <RegistrySearch Id="VS90_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="9.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2008Setup" Before="InstallFinalize" Overridable="yes">VS90DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS90_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Visual Studio 2010 (10.0) -->
  <Fragment>
    <CustomAction Id="AnkhVS2010Setup" Property="VS2010DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2010DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS100_Tick" Guid="652AB1DE-5B94-4E45-8802-DB341B536264">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="10.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS100">
      <ComponentRef Id="VS100_Tick"/>
    </ComponentGroup>

    <Property Id="VS100_TICKED" Secure="yes">
      <RegistrySearch Id="VS100_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="10.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2010Setup" Before="InstallFinalize" Overridable="yes">VS2010DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS100_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Visual Studio 2012 (11.0) -->
  <Fragment>
    <PropertyRef Id="VS2012DEVENV" />
    <CustomAction Id="AnkhVS2012Setup" Property="VS2012DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS110_Tick" Guid="E575141B-DA9A-4293-9875-69724EDF2E91">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="11.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS110">
      <ComponentRef Id="VS110_Tick"/>
    </ComponentGroup>

    <Property Id="VS110_TICKED" Secure="yes">
      <RegistrySearch Id="VS110_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="11.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2012Setup" Before="InstallFinalize" Overridable="yes">VS2012DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS110_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Visual Studio 2013 (12.0) -->
  <Fragment>
    <PropertyRef Id="VS2013DEVENV" />
    <CustomAction Id="AnkhVS2013Setup" Property="VS2013DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS120_Tick" Guid="401F0E0E-E4E1-4AD4-BEBF-C5985F3F21DC">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="12.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS120">
      <ComponentRef Id="VS120_Tick"/>
    </ComponentGroup>

    <Property Id="VS120_TICKED" Secure="yes">
      <RegistrySearch Id="VS120_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="12.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2013Setup" Before="InstallFinalize" Overridable="yes">VS2013DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS120_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Visual Studio 2015 (14.0) -->
  <Fragment>
    <PropertyRef Id="VS14DEVENV" />
    <CustomAction Id="AnkhVS14Setup" Property="VS14DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS140_Tick" Guid="10088BAD-1DFA-4952-9C59-8CD850028F43">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="14.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS140">
      <ComponentRef Id="VS140_Tick"/>
    </ComponentGroup>

    <Property Id="VS140_TICKED" Secure="yes">
      <RegistrySearch Id="VS140_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="14.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS14Setup" Before="InstallFinalize" Overridable="yes">VS14DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS140_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>
