<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown 
					type="Chive.Draco.Remote.IDracoRemote, Draco.Remote" 
					url="tcp://10.0.0.3:8086/Draco" />
			</client>			
			<channels>
				<channel ref="tcp" port="0">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>

</configuration>