<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Fragment Id="FR_ReposInstaller">
        <DirectoryRef Id="appDir">
            <Component Id="ReposInstaller_component0" DiskId="1">
                <File Id="ReposInstaller_file0" Name="REPOSI~1.DLL" LongName="ReposInstaller.dll"
                Checksum="yes" Compressed="yes" Vital="yes" KeyPath="yes"
                src="$(var.builddir)\ReposInstaller.dll" />
                <File Id="ReposInstaller_file1" Name="REPOSI~1.PDB" LongName="ReposInstaller.pdb"
                Checksum="yes" Compressed="yes" Vital="yes"
                src="$(var.builddir)\ReposInstaller.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>