<?xml version="1.0" encoding="utf-8" ?> 
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Fragment Id="FR_NSvn.Common">
        <DirectoryRef Id="appDir" src="..\$(var.builddir)\">
            <Component Id="C_NSvn.Common_0" DiskId="1" Guid="AC546574-2B87-6C96-4E75-EAF862314D38">
                <File Id="NSvn.Common.file0" Name="NSVNCOM.DLL" LongName="NSvn.Common.dll"
                    Checksum="yes" Vital="yes" KeyPath="yes" />
            </Component>
            <Component Id="C_NSvn.Common_1" DiskId="1" Guid="D664823B-D2A6-4EB4-8F1E-AA089D80797D">
                <File Id="NSvn.Common.file1" Name="NSVNCOM.PDB" LongName="NSvn.Common.pdb" 
                    Checksum="yes" Vital="yes" KeyPath="yes" />
            </Component>
            <Component Id="C_NSvn.Common_2" DiskId="1" Guid="BD79FA8E-25A9-4C4E-BA7A-06339CFB2491">
                <Registry Id="NSvn.Common.registry1" Root="HKMU"
                    Type="string" Value="[TARGETDIR]"
                    Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\NSvn"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
