/* Collabnet specific */
#main {
   text-align: left;
}

#main h1, #main h2 {
   text-align: center;
}

tr.d
{
	background-color: #FFFF99;
	vertical-align: top;
}

td.r, td.a:
{
	vertical-align: top;
}

td.f
{
	vertical-align: top;
}