<?xml version="1.0" encoding="utf-8" ?>
    <configuration>
        <system.runtime.remoting>
            <application>
                <client>
                    <wellknown 
                        type="PostCommit.Remoting.IRepository, PostCommit.Remoting" 
                        url="tcp://localhost:9999/Repository" />
                </client>
                <channels>
                    <channel ref="tcp" port="0">
                        <clientProviders>
                            <formatter ref="binary" />
                        </clientProviders>
                        <serverProviders>
                            <formatter ref="binary" typeFilterLevel="Full" />
                        </serverProviders>
                    </channel>
                </channels>
            </application>
        </system.runtime.remoting>

    </configuration>
