<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="Ankh.Services">
			<ComponentGroupRef Id="Ankh.Ids"/>
			<ComponentRef Id="C_Ankh.Services.dll"/>
			<ComponentGroupRef Id="LOCAL_SharpSvn_Win32"/>
			<ComponentGroupRef Id="LOCAL_SharpSvnUI"/>
		</ComponentGroup>
		<DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.Services.TargetDir)">
			<Component Id="C_Ankh.Services.dll" Guid="F63FEB57-6D7C-4769-B1EE-1DC24902792F">
				<File Id="CF_Ankh.Services.dll" Name="Ankh.Services.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
				<?ifdef Ankh_Pdb?>
				<File Id="CF_Ankh.Services.pdb" Name="Ankh.Services.pdb" Checksum="yes" Vital="yes" />
				<?endif?>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
