<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Product UpgradeCode="D35F7A64-E1AA-46eb-8835-36401261EB2A" Name="AnkhSvn"
        Id="734AB425-8C5E-4ce9-8346-0C592518ACD5" 
        Version="0.5.2" Manufacturer="Arild Fines, Per Krämer &amp; Kristin Borud"
        Language="1033" Codepage="1252">


        <Package Description="NSvn" Comments="NSvn Merge Module" 
            Manufacturer="Arild Fines, Per Krämer &amp; Kristin Borud" 
            InstallerVersion="200" Platforms="Intel"
            Languages="1033" Compressed="yes" SummaryCodepage="1252"
            Id="????????-????-????-????-????????????"/>
        
        <Property Id="ShortProductName">AnkhSvn</Property>
        <Property Id="ARPCONTACT">Arild Fines, Per Krämer &amp; Kristin Borud</Property>
        <Property Id="ARPURLINFOABOUT">http://ankhsvn.tigris.org/</Property>
        <Property Id="ARPHELPLINK">http://ankhsvn.tigris.org/</Property>
        <Property Id="ARPURLUPDATEINFO">http://ankhsvn.tigris.org/</Property>
        
        <!-- Try to divide cab size, because win 2000 and below don't like large cab's -->
        <Media Id="1" Cabinet="Ankh.cab" EmbedCab="yes" CompressionLevel="high" />
        <Media Id="2" Cabinet="NSvn.cab" EmbedCab="yes" CompressionLevel="high" />
        
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Merge Id="MSM_Ankh_msm" src="$(var.installdir)\Ankh.msm" Language="1033"
                DiskId="1" />
            <Merge Id="MSM_NSvn_msm" src="$(var.installdir)\NSvn.msm" Language="1033"
                DiskId="2" />
        </Directory>
        
        <Feature Id="DefaultFeature" Title="AnkhSVN" Level="1">
            <MergeRef Id="MSM_Ankh_msm" />
            <MergeRef Id="MSM_NSvn_msm" />
        </Feature>
        <UI>
            <InstallUISequence>
                <!-- Error, Exit and Finished forms -->
                <Show Dialog="FatalErrorForm" OnExit="error">NOT HideFatalErrorForm</Show>
                <Show Dialog="UserExitForm" OnExit="cancel" />
                <Show Dialog="FinishedForm" OnExit="success" />
                <!-- UI Install sequence-->
                <LaunchConditions Sequence="100" />
                <FindRelatedProducts Sequence="200" />
                <AppSearch Sequence="400" />
                <CCPSearch Sequence="500">NOT Installed</CCPSearch>
                <RMCCPSearch Sequence="600">NOT Installed</RMCCPSearch>
                <ValidateProductID Sequence="700" />
                <CostInitialize Sequence="800" />
                <FileCost Sequence="900" />
                <IsolateComponents Sequence="950" />
                <CostFinalize Sequence="1000" />
                <MigrateFeatureStates Sequence="1200" />
                <Show Dialog="WelcomeForm" Sequence="1230">NOT RESUME AND ((NOT Installed) OR (Installed AND NOT Preselected))</Show>
                <Show Dialog="ResumeForm" Sequence="1240">Installed AND (RESUME OR Preselected)</Show>
                <Show Dialog="ProgressForm" Sequence="1280" />
                
                <ExecuteAction Sequence="1300" />
            </InstallUISequence>
        </UI>
        
        

    </Product>
</Wix>

