<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Module Id="NSvn" Guid="0DE8324A-FD3A-49ba-AC66-8AF628ED74D8" Language="1033" 
        Version="1">
        <Package Description="NSvn" Comments="NSvn Merge Module" 
            Manufacturer="Arild Fines, Per Krämer &amp; Kristin Borud" 
            InstallerVersion="200" Platforms="Intel"
            Languages="1033" Compressed="yes" SummaryCodepage="1252" Id="????????-????-????-????-????????????"/>
            
        <Directory Id='TARGETDIR'   Name='SourceDir'>
            <Directory  Id='appDir' Name='.'/>
        </Directory>
        
        <!-- Include the Fragments needed for the merge module -->
        <FragmentRef Id="FR_NSvn.Common" />
        <FragmentRef Id="FR_NSvn.Core" />

        <!-- Include the Licence file -->
        <DirectoryRef Id="appDir">
            <Component Id="C__LICENCE.rtf" Guid="FE638B20-C4C1-4694-9701-CE26F30DDE90">
                <File Id="CF_LICENCE.rtf" Name="LICENCE.rtf" LongName="LICENCE.rtf"
                    Vital="yes" KeyPath="yes" src="..\LICENCE.rtf"/>
            </Component>
            <Component Id="C_MSVCP70" Guid="B6939999-C136-43CF-906D-C06E66A6F33A">
                <File Id="CF_MSVCP70.dll" Name="msvcp70.dll"
                    KeyPath="yes" Vital="yes" src="..\lib\msvcp70.dll" />
            </Component>
            <Component Id="C_MSVCR70" Guid="CAC32545-08E1-40FA-8D8C-3965FF742BC3">
                <File Id="CF_MSVCR70.dll" Name="msvcr70.dll"
                    KeyPath="yes" Vital="yes" src="..\lib\msvcr70.dll" />
            </Component>
            <Component Id="C_LIBDB" Guid="5A40F2B8-3F14-474a-B863-7526D87BF515">
                <File Id="CF_libdb.dll" Name="LibDB42.dll"
                    KeyPath="yes" Vital="yes" src="$(var.svn.dir)\db4-win32\bin\libdb42.dll" />
            </Component>

        </DirectoryRef>
    </Module>
</Wix>
