<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?ifndef ankhVersion ?>
  <?define ankhVersion=2.0.0.1 ?>
  <?endif ?>
  <Fragment>
    <ComponentGroup Id="Ankh.Package">
      <ComponentGroupRef Id="Ankh.Ids" />
      <ComponentGroupRef Id="Ankh.Services" />
      <ComponentGroupRef Id="Ankh" />
      <ComponentGroupRef Id="Ankh.Scc" />
      <ComponentGroupRef Id="Ankh.UI" />
      <ComponentGroupRef Id="Ankh.VS" />
      <ComponentGroupRef Id="Ankh.VS.Interop" />
      <ComponentGroupRef Id="Ankh.Diff" />
      <ComponentGroupRef Id="Ankh.ExtensionPoints" />
      <ComponentRef Id="C_Ankh.Package.dll" />
    </ComponentGroup>
    <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.Package.TargetDir)">
      <Component Id="C_Ankh.Package.dll" Guid="5B34B841-F029-4019-9B97-1C9FC098F178">
        <!-- File must be called File_$(Ankh.Package.TargetName).dll for the following includes-->
        <File Id="File_Ankh.Package.dll" Name="Ankh.Package.dll" Checksum="yes" KeyPath="yes" />
        <!-- Allow checking if AnkhSVN is installed -->
        <RegistryKey Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\CurrentVersion\Installation">
          <RegistryValue Name="CurrentVersion" Value="$(var.ankhVersion)" Type="string" />
          <RegistryValue Name="InstallLocation" Value="[APP_bin]" Type="string" />
        </RegistryKey>
        <!-- The 2.0 in the next line MUST match the MainVersion field in AnkhId -->
        <RegistryKey Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0">
          <RegistryValue Name="CurrentVersion" Value="$(var.ankhVersion)" Type="string" />
          <RegistryValue Name="InstallLocation" Value="[APP_bin]" Type="string" />
        </RegistryKey>
        <!-- This allows detecting AnkhSVN with conditional comments in Internet Explorer -->
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Internet Explorer\Version Vector">
          <RegistryValue Name="AnkhSVN" Value="$(var.ankhVersion)" Type="string" />
          <RegistryValue Name="AnkhSVN2" Value="$(var.ankhVersion)" Type="string" />
        </RegistryKey>
      </Component>
      <Component Id="CR_Pkg_2005" Guid="ADF3EF9B-1DF7-4238-93F1-4D47A964F59F">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="Pkg-VS2005" Value="1" Type="integer" KeyPath="yes" />
        <?include $(sys.SOURCEFILEDIR)obj\$(var.Ankh.Package.TargetName)-2005.wxi ?>
      </Component>
      <Component Id="CR_Pkg_2008" Guid="51603B09-8C31-4414-8D10-FADD5001886A">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="Pkg-VS2008" Value="1" Type="integer" KeyPath="yes" />
        <?include $(sys.SOURCEFILEDIR)obj\$(var.Ankh.Package.TargetName)-2008.wxi ?>
      </Component>
      <Component Id="CR_Pkg_2010" Guid="A55BCCF0-ED5E-469F-A8A9-430FC8179055">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="Pkg-VS2010" Value="1" Type="integer" KeyPath="yes" />
        <?include $(sys.SOURCEFILEDIR)obj\$(var.Ankh.Package.TargetName)-2010.wxi ?>
      </Component>
      <Component Id="CR_Pkg_2012" Guid="22F83B73-FE51-41A1-BAAC-4B8441B4AEE0">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="Pkg-VS2012" Value="1" Type="integer" KeyPath="yes" />
        <?include $(sys.SOURCEFILEDIR)obj\$(var.Ankh.Package.TargetName)-2012.wxi ?>
      </Component>
      <Component Id="CR_Pkg_12.0" Guid="F0C52390-5EB8-4690-8013-36A197125AF1">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="Pkg-VS12.0" Value="1" Type="integer" KeyPath="yes" />
        <?include $(sys.SOURCEFILEDIR)obj\$(var.Ankh.Package.TargetName)-12.0.wxi ?>
      </Component>
      <Component Id="CR_Pkg_14.0" Guid="228BC0D6-983B-413F-B281-318143F355E6">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\Installation\2.0" Name="Pkg-VS14.0" Value="1" Type="integer" KeyPath="yes" />
        <?include $(sys.SOURCEFILEDIR)obj\$(var.Ankh.Package.TargetName)-14.0.wxi ?>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="PkgReg2005">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="CR_Pkg_2005" />
      <ComponentGroupRef Id="Tick_VS80"/>
    </ComponentGroup>
    <ComponentGroup Id="PkgReg2008">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="CR_Pkg_2008" />
      <ComponentGroupRef Id="Tick_VS90"/>
    </ComponentGroup>
    <ComponentGroup Id="PkgReg2010">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="CR_Pkg_2010" />
      <ComponentGroupRef Id="Tick_VS100"/>
    </ComponentGroup>
    <ComponentGroup Id="PkgReg2012">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="CR_Pkg_2012" />
      <ComponentGroupRef Id="Tick_VS110"/>
    </ComponentGroup>
    <ComponentGroup Id="PkgReg12.0">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="CR_Pkg_12.0"/>
      <ComponentGroupRef Id="Tick_VS120"/>
    </ComponentGroup>
    <ComponentGroup Id="PkgReg14.0">
      <ComponentGroupRef Id="Ankh.Package" />
      <ComponentRef Id="CR_Pkg_14.0"/>
      <ComponentGroupRef Id="Tick_VS140"/>
    </ComponentGroup>
  </Fragment>
</Wix>
