body
{
    /*background-color: FEF2BE;*/
	font-size: 12pt;
    font-family: Georgia;
}

h1
{
    background-color: FEF2BE;
	font-family: Verdana;
	text-align: left;
	font-size: 22pt;
}

h2
{
	font-family: Garamond;
	font-size: 18pt;
	text-align: center;
}

h3
{
	font-family: Verdana;
	font-size: 12pt;
}

h4
{
	font-family: Arial;
	font-size: 9pt;
	font-style: italic;
}

link
{
    
}