<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
    <ComponentGroup Id="CG_NSvn.Core">
      <ComponentRef Id="NSvn.Core.component0" />
      <ComponentRef Id="NSvn.Core.component1" />
      <ComponentRef Id="LibApr.component3" />
      <ComponentRef Id="LibAprUtil.component4" />
      <ComponentRef Id="LibBdb" />
    </ComponentGroup>
        <DirectoryRef Id="appDir" FileSource="..\$(var.builddir)\">
            <Component Id="NSvn.Core.component0" DiskId="1" Guid="07D7100D-D005-4a9d-A591-8D4EB28D8A4A">
                <File Id="NSvn.Core.file0" Name="NSvn.Core.dll" Checksum="yes"
                    Vital="yes" KeyPath="yes" />
            </Component>
            <Component Id="NSvn.Core.component1" DiskId="1" Guid="48DFA7F1-A2DF-4c1c-B059-F2BE237F02A6">
                <File Id="NSvn.Core.file1" Name="NSvn.Core.pdb" Checksum="yes"
                    Vital="yes" KeyPath="yes" />
            </Component>
            <Component Id="LibApr.component3" DiskId="1" Guid="F8A86574-96D2-4505-B524-9A1758B50CA7">
                <File Id="LibApr.file3" Name="LIBAPR-1.DLL" Checksum="yes"
                    Vital="yes" KeyPath="yes" />
            </Component>
            <Component Id="LibAprUtil.component4" DiskId="1" Guid="965C4B3D-E84A-486f-89BE-5EB202418788">
                <File Id="LibAprUtil.file4" Name="LibAprUtil-1.Dll" Checksum="yes"
                    Vital="yes" KeyPath="yes" />
            </Component>
            <Component Id="LibBdb" DiskId="1" Guid="E0FED743-4773-422E-BF31-3D08B99718AF">
                <File Id="LibBdb.file" Name="libdb44.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
