<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="FR_NSvn.Core">
    <DirectoryRef Id="appDir">
      <Component Id="NSvn.Core.component0" DiskId="1" Guid="07D7100D-D005-4a9d-A591-8D4EB28D8A4A">
        <File Id="NSvn.Core.file0" Name="NSVNCO~2.DLL" LongName="NSvn.Core.dll"
          Checksum="yes" Vital="yes" KeyPath="yes"
          src="..\$(var.builddir)\NSvn.Core.dll" />
      </Component>
      <Component Id="NSvn.Core.component1" DiskId="1" Guid="48DFA7F1-A2DF-4c1c-B059-F2BE237F02A6">        
        <File Id="NSvn.Core.file1" Name="NSVNCO~2.PDB" LongName="NSvn.Core.pdb"
          Checksum="yes" Vital="yes" KeyPath="yes"
          src="..\$(var.builddir)\NSvn.Core.pdb" />
      </Component>
      <Component Id="NSvn.Core.component2" DiskId="1" Guid="E6C66130-D754-46c3-B6F7-0072BDF1058A">
        <File Id="NSvn.Core.file2" Name="VC70.PDB" LongName="vc70.pdb" 
          Checksum="yes" Vital="yes" KeyPath="yes"
          src="..\$(var.builddir)\vc70.pdb" />
      </Component>
      <Component Id="LibApr.component3" DiskId="1" Guid="F8A86574-96D2-4505-B524-9A1758B50CA7">
        <File Id="LibApr.file3" Name="LIBAPR.DLL" LongName="LibApr.Dll"
            Checksum="yes" Vital="yes" KeyPath="yes"
            src="$(var.svndir)\apr\Release\libapr.dll" />
      </Component>
      <Component Id="LibAprUtil.component4" DiskId="1" Guid="965C4B3D-E84A-486f-89BE-5EB202418788">
        <File Id="LibAprUtil.file4" Name="LIBAPR~1.DLL" LongName="LibAprUtil.Dll"
            Checksum="yes" Vital="yes" KeyPath="yes"
            src="$(var.svndir)\apr-util\Release\libaprUtil.dll" />
      </Component>
      <Component Id="LibAprIconv.component5" DiskId="1" Guid="A01F9583-A9C5-4276-9A3B-46C231F5070E">
        <File Id="LibAprIconv.file5" Name="LIBAPR~2.DLL" LongName="LibAprIconv.Dll"
            Checksum="yes" Vital="yes" KeyPath="yes"
            src="$(var.svndir)\apr-iconv\Release\libapriconv.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>