<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Ankh.WpfUI">
            <ComponentGroupRef Id="Ankh.Ids" />
            <ComponentGroupRef Id="Ankh.Services" />
            <ComponentGroupRef Id="Ankh.VS.WpfServices" />
            <ComponentRef Id="C_Ankh.WpfUI.dll" />
        </ComponentGroup>
        <DirectoryRef Id="APP_bin" FileSource="$(var.Ankh.Services.TargetDir)">
            <Component Id="C_Ankh.WpfUI.dll" Guid="92F558B1-9BC3-43B8-A045-E112AAB6E646">
                <File Id="CF_Ankh.WpfUI.dll" Name="Ankh.Services.dll" Checksum="yes" KeyPath="yes" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
