<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<ComponentGroup Id="Utils">
			<ComponentRef Id="C_Utils.dll"/>
		</ComponentGroup>
		<DirectoryRef Id="APP_bin" FileSource="$(var.Utils.TargetDir)">
			<Component Id="C_Utils.dll" DiskId="1" Guid="CB47CC24-915F-45ea-90F8-A2B1CEF64056">
				<File Id="CF_Utils.dll" Name="Utils.dll" Checksum="yes" Vital="yes" KeyPath="yes" />
				<?ifdef Ankh_Pdb?>
				<File Id="CF_Utils.pdb" Name="Utils.pdb" Checksum="yes" Vital="yes" />
				<?endif?>
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
