<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <CustomAction Id="AnkhVS2005Setup" Property="VS2005DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2005DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS80_Tick" Guid="E72BD986-BC3D-44A0-AB18-F7071BA63231">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="8.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS80">
      <ComponentRef Id="VS80_Tick"/>
    </ComponentGroup>

    <Property Id="VS80_TICKED" Secure="yes">
      <RegistrySearch Id="VS80_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="8.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2005Setup" Before="InstallFinalize" Overridable="yes">VS2005DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS80_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS2008Setup" Property="VS90DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS90DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS90_Tick" Guid="ED9BCCD4-581A-4D36-B8ED-309C4D9A71FF">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="9.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS90">
      <ComponentRef Id="VS90_Tick"/>
    </ComponentGroup>

    <Property Id="VS90_TICKED" Secure="yes">
      <RegistrySearch Id="VS90_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="9.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2008Setup" Before="InstallFinalize" Overridable="yes">VS90DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS90_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS2010Setup" Property="VS2010DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS2010DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS100_Tick" Guid="652AB1DE-5B94-4E45-8802-DB341B536264">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="10.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS100">
      <ComponentRef Id="VS100_Tick"/>
    </ComponentGroup>

    <Property Id="VS100_TICKED" Secure="yes">
      <RegistrySearch Id="VS100_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="10.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2010Setup" Before="InstallFinalize" Overridable="yes">VS2010DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS100_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS2012Setup" Property="VS11DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS11DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS110_Tick" Guid="E575141B-DA9A-4293-9875-69724EDF2E91">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="11.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS110">
      <ComponentRef Id="VS110_Tick"/>
    </ComponentGroup>

    <Property Id="VS110_TICKED" Secure="yes">
      <RegistrySearch Id="VS110_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="11.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS2012Setup" Before="InstallFinalize" Overridable="yes">VS11DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS110_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS12.0Setup" Property="VS12DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS12DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS120_Tick" Guid="401F0E0E-E4E1-4AD4-BEBF-C5985F3F21DC">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="12.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS120">
      <ComponentRef Id="VS120_Tick"/>
    </ComponentGroup>

    <Property Id="VS120_TICKED" Secure="yes">
      <RegistrySearch Id="VS120_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="12.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS12.0Setup" Before="InstallFinalize" Overridable="yes">VS12DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS120_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

    <!-- Visual Studio 12.0 -->
  <Fragment>
    <Property Id="VS12DEVENV" Secure="yes">
      <RegistrySearch Id="VS12DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS12_ITEMTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS11DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS12ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS12_PROJECTTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS12DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS12ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS12_SCHEMAS_DIR" Secure="yes">
      <RegistrySearch Id="VS12ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="12.0" Type="raw">
        <DirectorySearch Id="VS12XmlPathSearch" Path="Xml" Depth="1">
          <DirectorySearch Id="VS12XmlSchemasPathSearch" Path="Schemas" Depth="1" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <CustomAction Id="VS12Setup" Property="VS12DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS12DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="VS12Setup" Before="InstallFinalize" Overridable="yes">VS12DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <Property Id="VS12_ROOT_FOLDER" Secure="yes">
      <RegistrySearch Id="SearchForVS12RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="12.0" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS12_EXTENSIONS_DIR" Secure="yes">
      <RegistrySearch Id="VS12DevEnvForExtensionsSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\12.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS12ExtensionsPathSearch" Path="Extensions" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <CustomAction Id="AnkhVS14Setup" Property="VS14DEVENV" ExeCommand="/setup /NoSetupVSTemplates" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS14DEVENV" />

    <DirectoryRef Id="APP_bin">
      <Component Id="VS140_Tick" Guid="10088BAD-1DFA-4952-9C59-8CD850028F43">
        <RegistryValue Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="14.0" Value="1" KeyPath="yes" Type="integer" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Tick_VS140">
      <ComponentRef Id="VS140_Tick"/>
    </ComponentGroup>

    <Property Id="VS140_TICKED" Secure="yes">
      <RegistrySearch Id="VS140_TickSearch" Root="HKLM" Key="Software\AnkhSVN\AnkhSVN\VS-Setup" Name="14.0" Type="raw" />
    </Property>

    <InstallExecuteSequence>
      <Custom Action="AnkhVS14Setup" Before="InstallFinalize" Overridable="yes">VS14DEVENV And ((Not UPGRADINGPRODUCTCODE) Or REINSTALL Or (Not VS140_TICKED))</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <!-- Visual Studio 14.0 -->
  <Fragment>
    <Property Id="VS14DEVENV" Secure="yes">
      <RegistrySearch Id="VS14DevEnvSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14_ITEMTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS11DevEnvForItemTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS14ItemTemplatesPathSearch" Path="ItemTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14_PROJECTTEMPLATES_DIR" Secure="yes">
      <RegistrySearch Id="VS14DevEnvForProjectTemplatesSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentPath" Type="raw">
        <DirectorySearch Id="VS14ProjectTemplatesPathSearch" Path="ProjectTemplates" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14_SCHEMAS_DIR" Secure="yes">
      <RegistrySearch Id="VS14ProductPathSearch" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="14.0" Type="raw">
        <DirectorySearch Id="VS14XmlPathSearch" Path="Xml" Depth="1">
          <DirectorySearch Id="VS14XmlSchemasPathSearch" Path="Schemas" Depth="1" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>
  </Fragment>

  <Fragment>
    <CustomAction Id="VS14Setup" Property="VS14DEVENV" ExeCommand="/setup" Execute="deferred" Return="ignore" Impersonate="no" />
    <PropertyRef Id="VS14DEVENV" />

    <InstallExecuteSequence>
      <Custom Action="VS14Setup" Before="InstallFinalize" Overridable="yes">VS14DEVENV</Custom>
    </InstallExecuteSequence>
  </Fragment>

  <Fragment>
    <Property Id="VS14_ROOT_FOLDER" Secure="yes">
      <RegistrySearch Id="SearchForVS14RootPath" Root="HKLM" Key="Software\Microsoft\VisualStudio\SxS\VS7" Name="14.0" Type="raw" />
    </Property>
  </Fragment>

  <Fragment>
    <Property Id="VS14_EXTENSIONS_DIR" Secure="yes">
      <RegistrySearch Id="VS14DevEnvForExtensionsSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS14ExtensionsPathSearch" Path="Extensions" Depth="1" />
      </RegistrySearch>
    </Property>
  </Fragment>
</Wix>
