<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Module Id="NSvn" Language="1033" 
        Version="$(var.ankhversion)">
        <Package Description="NSvn" Comments="NSvn Merge Module" 
            Manufacturer="Arild Fines, Per Krämer &amp; Kristin Borud" 
            InstallerVersion="200" Platforms="Intel"
            Languages="1033" SummaryCodepage="1252" Id="9C8CEAB7-7A1F-4472-A008-DC65CDD9F318"/>
            
        <Directory Id='TARGETDIR'   Name='SourceDir'>
            <Directory  Id='appDir' Name='.'/>
        </Directory>
        
        <!-- Include the Fragments needed for the merge module -->
        <ComponentGroupRef Id="CG_NSvn.Common" />
        <ComponentGroupRef Id="CG_NSvn.Core" />

        <!-- Include the Licence file -->
        <DirectoryRef Id="appDir">
            <Component Id="C__LICENSE.rtf" Guid="35C1C0A1-7280-4385-9857-A2652A9B595D">
                <File Id="CF_LICENSE.rtf" Name="LICENSE.rtf"
                    Vital="yes" KeyPath="yes" Source="..\LICENSE.rtf"/>
			</Component>
<?if $(var.vs_version) = vs2002 ?>
			<Component Id="C_MSVCP70" Guid="B6939999-C136-43CF-906D-C06E66A6F33A">
				<File Id="CF_MSVCP70.dll" Name="msvcp70.dll"
                    KeyPath="yes" Vital="yes" Source="..\lib\msvcp70.dll" />
            </Component>
            <Component Id="C_MSVCR70" Guid="CAC32545-08E1-40FA-8D8C-3965FF742BC3">
                <File Id="CF_MSVCR70.dll" Name="msvcr70.dll"
                    KeyPath="yes" Vital="yes" Source="..\lib\msvcr70.dll" />
			</Component>
<?elseif $(var.vs_version) = vs2005 ?>
            <Component Id="C_MSVCP80" Guid="ACA81388-2AD4-4B4C-AC63-EDD2DA13A743">
                <File Id="CF_MSVCP80.dll" Name="msvcp80.dll"
                    KeyPath="yes" Vital="yes" Source="..\lib\msvcp80.dll" />
            </Component>
            <Component Id="C_MSVCR80" Guid="2DCD064A-C16A-46EB-940D-64BB03265E71">
                <File Id="CF_MSVCR80.dll" Name="msvcr80.dll"
                    KeyPath="yes" Vital="yes" Source="..\lib\msvcr80.dll" />
            </Component>
            <Component Id="C_MSVCM80" Guid="E40B41BD-6C4C-4936-8D40-7AC92E384322">
                <File Id="CF_MSVCM80.dll" Name="msvcm80.dll"
                    KeyPath="yes" Vital="yes" Source="..\lib\msvcm80.dll" />
            </Component>
<?endif?>
        </DirectoryRef>
    </Module>
</Wix>
