<?xml version="1.0" encoding="utf-8"?>
<Config xmlns="http://ankhsvn.com/Config.xsd">
    <RepositoryExplorer>
        <MruUrls>
            <Url>http://ankhsvn.com:8088/svn/test</Url>
            <Url>http://svn.collab.net/repos/svn</Url>
        </MruUrls>
    </RepositoryExplorer>
    <Subversion>
        <!-- The path to the directory to use for the Subversion configuration data.
        If not specified, it will use the same config area as other Subversion tools, 
        usually %APPDATA%\Subversion. You can use environment variables in the path, quoted
        with %. -->
        <!--<ConfigDir>%AppData%\Subversion</ConfigDir>-->
    </Subversion>
</Config>