<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="FR_Ankh">
    <DirectoryRef Id="appDir">
      <!-- RegAsm reg settings -->
      <Component Id="Ankh_component8" DiskId="1" Guid="FE524A94-5C69-4792-8B13-ABE0A8171FCF">
        <Registry Id="Ankh_registry8" Root="HKCR" Type="string" KeyPath="yes"
          Key="Ankh" 
          Value="Ankh.Connect" />
      </Component>
      <Component Id="Ankh_component9" DiskId="1" Guid="B797E6FC-9B3C-4f80-A886-BA4DAF9EE91E">
        <Registry Id="Ankh_registry9" Root="HKCR" Type="string" KeyPath="yes"
          Key="Ankh\CLSID" 
          Value="{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}" />
      </Component>
      <Component Id="Ankh_component10" DiskId="1" Guid="4FD11EA6-69A9-4210-94A6-5A12546772E5">
        <Registry Id="Ankh_registry10" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}" 
          Value="Ankh.Connect" />
      </Component>
      <Component Id="Ankh_component11" DiskId="1" Guid="F76C955B-3FE9-4986-A1D5-05B021CF0911">
        <Registry Id="Ankh_registry11" Root="HKCR" KeyPath="yes" 
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
      </Component>
      <Component Id="Ankh_component12" DiskId="1" Guid="1221502B-2A1E-4029-912A-707AD9A4889E">
        <Registry Id="Ankh_registry12" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32" 
          Value="mscoree.dll" />
      </Component>
      <Component Id="Ankh_component13" DiskId="1" Guid="86EFCA1B-C751-43f1-AF10-876511FBD6E8">
        <Registry Id="Ankh_registry13" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32" 
          Name="ThreadingModel" Value="Both" />
      </Component>
      <Component Id="Ankh_component14" DiskId="1" Guid="A87EB4DC-6574-4a9e-AFB2-E5D2D3096DEA">
        <Registry Id="Ankh_registry14" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32" 
          Name="Class" Value="Ankh.Connect" />
      </Component>
      <Component Id="Ankh_component15" DiskId="1" Guid="EAA994AA-4FA9-4bd2-B5F0-C754EC122632">
        <Registry Id="Ankh_registry15" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32" 
          Name="Assembly" Value="Ankh, Version=$(var.ankhversion), Culture=neutral, PublicKeyToken=null" />
      </Component>
      <Component Id="Ankh_component16" DiskId="1" Guid="1C53FA7C-2420-486f-9F05-56160DD3A4DA">
        <Registry Id="Ankh_registry16" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32" 
          Name="RuntimeVersion" Value="v1.0.3705" />
      </Component>
      <Component Id="Ankh_component17" DiskId="1">
      <Registry Id="Ankh_registry17" Root="HKCR" 
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32" 
          Name="CodeBase" Value="[TARGETDIR]Ankh.dll" />
      </Component>
      <Component Id="Ankh_component18" DiskId="1" Guid="E620AD9A-EF0A-4b14-BD7C-DD777B31F7BD">
        <Registry Id="Ankh_registry18" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32\$(var.ankhversion)" 
          Name="Class" Value="Ankh.Connect" />
      </Component>
      <Component Id="Ankh_component19" DiskId="1" Guid="4E6BA5CE-AB09-4db9-9726-5109DD3B3ACC">
        <Registry Id="Ankh_registry19" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32\$(var.ankhversion)" 
          Name="Assembly" Value="Ankh, Version=$(var.ankhversion), Culture=neutral, PublicKeyToken=null" />
      </Component>
      <Component Id="Ankh_component20" DiskId="1" Guid="5220CDB7-EB1D-4eb6-9B62-0AEB1077A131">
        <Registry Id="Ankh_registry20" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32\$(var.ankhversion)" 
          Name="RuntimeVersion" Value="v1.0.3705" />
      </Component>
      <Component Id="Ankh_component21" DiskId="1">
        <Registry Id="Ankh_registry21" Root="HKCR" 
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\InprocServer32\$(var.ankhversion)" 
          Name="CodeBase" Value="[TARGETDIR]Ankh.dll" />
      </Component>
      <Component Id="Ankh_component22" DiskId="1" Guid="1B8DF8D1-B308-4084-B44A-02363826DC61">
        <Registry Id="Ankh_registry22" Root="HKCR" Type="string" KeyPath="yes"
          Key="CLSID\{DA979B20-78DF-45BC-A7D7-F5EF9DC77D30}\ProgId" 
          Value="Ankh" />
      </Component>
      <Component Id="Ankh_component23" DiskId="1" Guid="A98D7090-EB4B-4b8d-98BC-806982041D11">
        <Registry Id="Ankh_registry23" Root="HKCR" Type="string" KeyPath="yes"
          Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" 
          Name="0" Value=".NET Category" />
      </Component>

      <!-- Visual Studio reg settings -->
      <Component Id="Ankh_register_comp0" DiskId="1" Guid="A2040CBF-FBAF-41c1-AFC5-824E466BEBCE">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="SatelliteDllPath" Type="string" Value="[TARGETDIR]" 
          Id="_008A3D8ACC7C418BBA42A60F997428BF" />
      </Component>
      <Component Id="Ankh_register_comp1" DiskId="1" Guid="11F33777-8360-4627-9D8F-661294335B96">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="LoadBehavior" Type="integer" Value="1" 
          Id="_352F2A9FD88540A99E7BAA10389BDEF7" />
      </Component>
      <Component Id="Ankh_register_comp2" DiskId="1" Guid="EA4E7DC6-C8D7-4f12-9146-89CA95435A41">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="CommandPreload" Type="integer" Value="1" 
          Id="_5B6D86B7749D43C7A89C4A4976E64241" />
      </Component>
      <Component Id="Ankh_register_comp3" DiskId="1" Guid="F7415AC9-12A3-4f15-922A-11AB98AF7153">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="AboutBoxIcon" Type="string" Value="[TARGETDIR]\1033\BitmapDll.dll,101"
          Id="_653330477C2B4294AEEDBA1C043EB41B" />
      </Component>
      <Component Id="Ankh_register_comp4" DiskId="1" Guid="686B73EA-804A-4496-B725-9A08CA37189C">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="CommandLineSafe" Type="integer" Value="0"
          Id="_678D00950AB146CDA07C5E0DE1B72B20" />
      </Component>
      <Component Id="Ankh_register_comp5" DiskId="1" Guid="9401A56B-1527-4010-A66D-C4390915FBB2">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="Description" Type="string" Value="Subversion addin for Visual Studio .NET"
          Id="_7540CF47F42C43F59211F23BA3E49E8D" />
      </Component>
      <Component Id="Ankh_register_comp6" DiskId="1" Guid="D04D83F5-80DD-4fd2-A7AB-1BAE309217D7">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="FriendlyName" Type="string" Value="AnkhSVN  Addin"
          Id="_7A53D8342A1745CCBDC537B2FE952D2A" />
      </Component>
      <Component Id="Ankh_register_comp7" DiskId="1" Guid="20DFE15F-81DA-4ea3-A8D8-E2231100F827">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="SatelliteDllName" Type="string" Value="BitmapDll.dll"
          Id="_AA431B0DB49845CFB814442A956D875B" />
      </Component>
      <Component Id="Ankh_register_comp8" DiskId="1" Guid="A36B122B-5DDE-4579-9BF8-9297E0ECE5A3">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.0\AddIns\Ankh" 
          Name="AboutBoxDetails" Type="string"
          Id="_CEF7FF5E3BFE43C6934EACE6A662811D" />
      </Component>
       
      <Component Id="Ankh_register_comp9" DiskId="1" Guid="7B1933D7-0947-438f-888B-B5D81475DE24">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="SatelliteDllPath" Type="string" Value="[TARGETDIR]"
          Id="_671746B8A40547A7A502F7D64CCBFE2E" />        
      </Component>
      <Component Id="Ankh_register_comp10" DiskId="1" Guid="D247A2A9-AC41-4c2d-AA35-06CC3A3F783A">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="LoadBehavior" Type="integer" Value="1"
          Id="_EBDDF52053274EB8A6FC2795FC7BE6AE" />
      </Component>
      <Component Id="Ankh_register_comp11" DiskId="1" Guid="A028A5CA-D415-4357-B822-46B77C4D2E45">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="CommandPreload" Type="integer" Value="1"
          Id="_3B7342E61FDC42EC81F9176F598E4C6A" />
      </Component>
      <Component Id="Ankh_register_comp12" DiskId="1" Guid="2F3A4CD5-B3F0-4d32-9189-39CEC782426A">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="AboutBoxIcon" Type="string" Id="_E6E61958F7774F41B43B3DAFBE68116D" />
      </Component>
      <Component Id="Ankh_register_comp13" DiskId="1" Guid="B8AC2F77-92A6-46af-934B-89749F8E5177">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="CommandLineSafe" Type="integer" Value="0"
          Id="_57DAEBE95B4047FCAF9F5EE336AC61C4" />
      </Component>
      <Component Id="Ankh_register_comp14" DiskId="1" Guid="225DCFD9-F0F6-4899-A709-EB6B591B240F">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="Description" Type="string" Value="Subversion addin for Visual Studio .NET"
          Id="_EE3DA771810843CCB564B23198CBB53E" />
      </Component>
      <Component Id="Ankh_register_comp15" DiskId="1" Guid="B05E8C1C-3A9F-404e-83CD-877C95EDF316">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="FriendlyName" Type="string" Value="AnkhSVN Addin"  
          Id="_8C17B03BE4F14CA496008D0798B5830C" />
      </Component>
      <Component Id="Ankh_register_comp16" DiskId="1" Guid="EBC99817-C990-4e8e-BD90-DA983E5DFE7A">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="SatelliteDllName" Type="string" Value="BitmapDll.dll"
          Id="_56557FC97236437087F1F4B72627B3D2" />
      </Component>
      <Component Id="Ankh_register_comp17" DiskId="1" Guid="5FB32F08-9259-42e6-96AA-3BCC97AC525E">
        <Registry KeyPath="yes" Root="HKMU" 
          Key="Software\Microsoft\VisualStudio\7.1\AddIns\Ankh" 
          Name="AboutBoxDetails" Type="string"
          Id="_8A2A6E99964F4519A46862AD81634E49" />
      </Component>
      

      <Component Id="Ankh_comp0" DiskId="1" Guid="02BBB6F8-8035-421f-83EC-7CA51E05B981">
        <File Id="Ankh_file0" Name="Ankh.dll"
          Checksum="yes" Compressed="yes" KeyPath="yes" Vital="yes" src="$(var.builddir)\Ankh.dll" />
        <File Id="Ankh_file2" Name="Ankh.pdb" Checksum="yes" Compressed="yes" Vital="yes" src="$(var.builddir)\Ankh.pdb" />
      </Component>

      <Directory Id="Ankh_directory1" Name="1033">
        <Component Id="Ankh_comp3" DiskId="1" Guid="7609179F-82F7-4659-A4F8-FF1FB0ABFE53">
          <File Id="Ankh_file3" KeyPath="yes" Name="BITMAP~1.DLL" LongName="BitmapDll.dll" Checksum="yes" Compressed="yes" Vital="yes" src="$(var.builddir)\..\1033\BitmapDll.dll" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
