<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IssueZilla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IssueZilla.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>0, 47</value>
            </setting>
            <setting name="FormSize" serializeAs="String">
                <value>1133, 709</value>
            </setting>
            <setting name="IssueListSize" serializeAs="String">
                <value>1133, 662</value>
            </setting>
            <setting name="CommentsSplitterDistance" serializeAs="String">
                <value>292</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </IssueZilla.Properties.Settings>
    </userSettings>
</configuration>