<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="messagequeue" value=".\Private$\test"/>
        
    </appSettings>

    <system.runtime.remoting>
        <application>
            <service>
                <!-- 
          The server-activated, singleton remote object 
         -->
                <wellknown mode="Singleton" 
                           objectUri="Repository" 
                           type="PostCommit.Service.Remote, PostCommit.Service" />
            </service>

            <!-- 
        Register a tcp channel listening on port 9999 
       -->
            <channels>
                <channel ref="tcp" port="9999">
                    <serverProviders>
                        <formatter ref="binary" typeFilterLevel="Full" />
                    </serverProviders>
                    <clientProviders>
                        <formatter ref="binary" />
                    </clientProviders>
                </channel>
            </channels>
        </application>

    </system.runtime.remoting>
</configuration>