<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
		<ComponentGroup Id="CG_Ankh.UI">
			<ComponentRef Id="C_Ankh.UI.dll"/>
		</ComponentGroup>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="C_Ankh.UI.dll" DiskId="1" Guid="BE3BF683-9D60-444a-923F-3A2891F628B7">
        <File Id="CF_Ankh.UI.dll" Name="ANKHUI.DLL" LongName="Ankh.UI.dll"
            Checksum="yes" Vital="yes" KeyPath="yes"
            src="$(var.builddir)\Ankh.UI.dll" />
        <File Id="CF_Ankh.UI.pdb" Name="ANKHUI.PDB" LongName="Ankh.UI.pdb"
            Checksum="yes" Vital="yes"
            src="$(var.builddir)\Ankh.UI.pdb" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
