<?xml version="1.0" encoding="utf-8" ?> 
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Fragment Id="FR_Ankh.UI">
        <DirectoryRef Id="appDir" src=".\">
            <Component Id="C__Ankh.UI.dll" Guid="62063767-B198-4265-89B1-6736DC7908A5">
                <File Id="CF_Ankh.UI.dll" Name="ANKH~1.DLL" LongName="Ankh.UI.dll"
                    Vital="yes" KeyPath="yes" DiskId="1" src="..\$(var.builddir)\Ankh.UI"/>
            </Component>
            <Component Id="C__Ankh.UI.pdb" Guid="62904013-D89F-4f6d-9298-4327418F6CDB">
                <File Id="CF_Ankh.UI.pdb" Name="ANKH~1.PDB" LongName="Ankh.UI.pdb"
                    Vital="yes" KeyPath="yes" DiskId="1" src="..\$(var.builddir)\Ankh.UI.pdb"/>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
