<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="CG_Ankh.UI">
      <ComponentRef Id="C_Ankh.UI.dll"/
      <ComponentRef Id ="C_Ankh.UI_Regasm"/>
    </ComponentGroup>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="C_Ankh.UI.dll" DiskId="1" Guid="BE3BF683-9D60-444a-923F-3A2891F628B7">
        <File Id="CF_Ankh.UI.dll" Name="Ankh.UI.dll"
            Checksum="yes" Vital="yes" KeyPath="yes"
            Source="$(var.builddir)\Ankh.UI.dll" />
        <File Id="CF_Ankh.UI.pdb" Name="Ankh.UI.pdb"
            Checksum="yes" Vital="yes"
            Source="$(var.builddir)\Ankh.UI.pdb" />
      </Component>
      <Component Id="C_Ankh.UI_Regasm" DiskId="1" Guid="3D6E5CFB-7E9D-4393-9668-077C0156A28D">
        <Registry Id="registry0" Root="HKCR" Key="Ankh.UI.CommitDialog" Value="Ankh.UI.CommitDialog" Type="string" />
        <Registry Id="registry1" Root="HKCR" Key="Ankh.UI.CommitDialog\CLSID" Value="{18B35E55-1A15-3A75-B517-C252CDCAAA4B}" Type="string" />
        <Registry Id="registry2" Root="HKCR" Key="Ankh.UI.RepositoryExplorerControl" Value="Ankh.UI.RepositoryExplorerControl" Type="string" />
        <Registry Id="registry3" Root="HKCR" Key="Ankh.UI.RepositoryExplorerControl\CLSID" Value="{23CBDF36-E528-4581-A59A-EA212A783D4E}" Type="string" />
        <Registry Id="registry4" Root="HKCR" Key="Ankh.UI.WorkingCopyExplorerControl" Value="Ankh.UI.WorkingCopyExplorerControl" Type="string" />
        <Registry Id="registry5" Root="HKCR" Key="Ankh.UI.WorkingCopyExplorerControl\CLSID" Value="{497EE176-E0CD-38B9-94D1-BAB98EB385FB}" Type="string" />
        <Registry Id="registry6" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}" Value="Ankh.UI.CommitDialog" Type="string" />
        <Registry Id="registry7" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
        <Registry Id="registry8" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32" Value="mscoree.dll" Type="string" />
        <Registry Id="registry9" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />
        <Registry Id="registry10" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32" Name="Class" Value="Ankh.UI.CommitDialog" Type="string" />
        <Registry Id="registry11" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32" Name="Assembly" Value="Ankh.UI, Version=0.6.0.2522, Culture=neutral, PublicKeyToken=null" Type="string" />
        <Registry Id="registry12" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
        <Registry Id="registry13" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32" Name="CodeBase" Value="file:///D:/mydocs/vcsharp/Ankh/src3/Ankh.UI/bin/Debug/Ankh.UI.dll" Type="string" />
        <Registry Id="registry14" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32\0.6.0.2522" Name="Class" Value="Ankh.UI.CommitDialog" Type="string" />
        <Registry Id="registry15" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32\0.6.0.2522" Name="Assembly" Value="Ankh.UI, Version=0.6.0.2522, Culture=neutral, PublicKeyToken=null" Type="string" />
        <Registry Id="registry16" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32\0.6.0.2522" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
        <Registry Id="registry17" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\InprocServer32\0.6.0.2522" Name="CodeBase" Value="file:///D:/mydocs/vcsharp/Ankh/src3/Ankh.UI/bin/Debug/Ankh.UI.dll" Type="string" />
        <Registry Id="registry18" Root="HKCR" Key="CLSID\{18B35E55-1A15-3A75-B517-C252CDCAAA4B}\ProgId" Value="Ankh.UI.CommitDialog" Type="string" />
        <Registry Id="registry19" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}" Value="Ankh.UI.RepositoryExplorerControl" Type="string" />
        <Registry Id="registry20" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
        <Registry Id="registry21" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32" Value="mscoree.dll" Type="string" />
        <Registry Id="registry22" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />
        <Registry Id="registry23" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32" Name="Class" Value="Ankh.UI.RepositoryExplorerControl" Type="string" />
        <Registry Id="registry24" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32" Name="Assembly" Value="Ankh.UI, Version=0.6.0.2522, Culture=neutral, PublicKeyToken=null" Type="string" />
        <Registry Id="registry25" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
        <Registry Id="registry26" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32" Name="CodeBase" Value="file:///D:/mydocs/vcsharp/Ankh/src3/Ankh.UI/bin/Debug/Ankh.UI.dll" Type="string" />
        <Registry Id="registry27" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32\0.6.0.2522" Name="Class" Value="Ankh.UI.RepositoryExplorerControl" Type="string" />
        <Registry Id="registry28" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32\0.6.0.2522" Name="Assembly" Value="Ankh.UI, Version=0.6.0.2522, Culture=neutral, PublicKeyToken=null" Type="string" />
        <Registry Id="registry29" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32\0.6.0.2522" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
        <Registry Id="registry30" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\InprocServer32\0.6.0.2522" Name="CodeBase" Value="file:///D:/mydocs/vcsharp/Ankh/src3/Ankh.UI/bin/Debug/Ankh.UI.dll" Type="string" />
        <Registry Id="registry31" Root="HKCR" Key="CLSID\{23CBDF36-E528-4581-A59A-EA212A783D4E}\ProgId" Value="Ankh.UI.RepositoryExplorerControl" Type="string" />
        <Registry Id="registry32" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}" Value="Ankh.UI.WorkingCopyExplorerControl" Type="string" />
        <Registry Id="registry33" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" />
        <Registry Id="registry34" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32" Value="mscoree.dll" Type="string" />
        <Registry Id="registry35" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" />
        <Registry Id="registry36" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32" Name="Class" Value="Ankh.UI.WorkingCopyExplorerControl" Type="string" />
        <Registry Id="registry37" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32" Name="Assembly" Value="Ankh.UI, Version=0.6.0.2522, Culture=neutral, PublicKeyToken=null" Type="string" />
        <Registry Id="registry38" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
        <Registry Id="registry39" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32" Name="CodeBase" Value="file:///D:/mydocs/vcsharp/Ankh/src3/Ankh.UI/bin/Debug/Ankh.UI.dll" Type="string" />
        <Registry Id="registry40" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32\0.6.0.2522" Name="Class" Value="Ankh.UI.WorkingCopyExplorerControl" Type="string" />
        <Registry Id="registry41" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32\0.6.0.2522" Name="Assembly" Value="Ankh.UI, Version=0.6.0.2522, Culture=neutral, PublicKeyToken=null" Type="string" />
        <Registry Id="registry42" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32\0.6.0.2522" Name="RuntimeVersion" Value="v2.0.50727" Type="string" />
        <Registry Id="registry43" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\InprocServer32\0.6.0.2522" Name="CodeBase" Value="file:///D:/mydocs/vcsharp/Ankh/src3/Ankh.UI/bin/Debug/Ankh.UI.dll" Type="string" />
        <Registry Id="registry44" Root="HKCR" Key="CLSID\{497EE176-E0CD-38B9-94D1-BAB98EB385FB}\ProgId" Value="Ankh.UI.WorkingCopyExplorerControl" Type="string" />
        <Registry Id="registry45" Root="HKCR" Key="Component Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Name="0" Value=".NET Category" Type="string" />
      </Component>


    </DirectoryRef>
  </Fragment>
</Wix>
