table.#main {
  font-family: Segoe UI, Segoe, Arial, Verdana, Sans-Serif; 
}

@media screen {
  #site-nav {
    margin-left: -30px;
    font-size: 130%;
  }

  #site-nav ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
  }

  #site-nav li {
    line-height: 1.4em;
  }

  #site-nav ul ul {
    padding-left: 1.6em;
    padding-bottom: 12px;
  }

  #site-nav a {
    font-weight: normal;
  }

  #site-banner-host {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
    text-align:center;
    margin-top: 120px;
  }

  #site-banner-bg {
    height: 100px;
    max-width: 988px;
    text-align: center;
  }

  #site-banner {
    text-align: left;
  }
[A
}

@media print {
  #site-banner, #site-banner-host, #site-left-bar {
    display: none;
  }
}

/* From Related Projects Box */

#box2 ul {list-style-type: none;margin: 0;padding: 0 0 5px 8px;}
#box2 ul li {width: 145px;background: url(http://www.collab.net/branding/cn_images/bullet_bluearrows_s.gif) no-repeat 0.1em 0.3em;font-size:10px;line-height:15px;font-weight:normal;padding-top: 0;padding-left: 1.20em;margin-bottom: 8px;}
#box2 p {margin: 0pt 0pt 8px; padding: 0pt 15px; font-size: 11px; line-height: 15px;}
#box2 {margin: 0pt; padding: 3px 0pt 1px 0px; background: #ffffff url('http://www.collab.net/branding/cn_images/community-lft-bg1.gif') no-repeat left top; width: 165px; height: auto;}
#box2 h3 {margin: 0; padding: 5px 10px 10px 10px; font-size: 13px; line-height: 16px; color: #ff9900;}
.tpaln {vertical-align: top;}
.btmaln {vertical-align: bottom;}
.cnaln {text-align: center;}