table.#main {
  font-family: Segoe UI, Segoe, Arial, Verdana, Sans-Serif; 
}

@media screen {
  #site-nav {
    margin-left: -30px;
    font-size: 130%;
  }

  #site-nav ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
  }

  #site-nav li {
    line-height: 1.4em;
  }

  #site-nav ul ul {
    padding-left: 1.6em;
    padding-bottom: 12px;
  }

  #site-nav a {
    font-weight: normal;
  }
}
