#main {
  font-family: Segoe UI, Segoe, Arial, Verdana, Sans-Serif; 
}

#site-banner img { float: left; width: 64px; height: 64px; padding: 4px; border: 0; }
#site-banner span { padding: 6px; }
#site-banner h1 { font-weight: normal; font-size: 22pt; margin: 0; padding: 12px 6px; }
#site-banner h1 span { font-weight: bold; padding: 6px; }
#site-banner a { color: black; text-decoration: none; }

@media screen {
  #site-nav {
    margin-left: -30px;
    font-size: 130%;
  }

  #site-nav ul {
    list-style: none;
    padding-left: 0;
    font-weight: bold;
  }

  #site-nav li {
    line-height: 1.4em;
  }

  #site-nav ul ul {
    padding-left: 1.6em;
    padding-bottom: 12px;
  }

  #site-nav a {
    font-weight: normal;
  }

  #site-banner-host {
    position: relative;
    top: -70px;
    max-height: 2px;
    height: 2px;
  }

  #site-banner-bg {
    position: relative;
    height: 76px;
    max-width: 988px;
    display: inline-block;
  }

  #site-banner {
    text-align: left;
    font-size: 10pt;
    font-weight: normal;
    height: 76px;
    background-color: #FFFFFF;
    white-space: nowrap;
  }
}

@media print {
  #site-banner, #site-banner-host, #site-left-bar {
    display: none;
  }
}

#welcome-table {
  font-size: 150%
  position: relative;
  top: -80px;
  border: 2px solid #9598D7;
}

#welcome-table td {
  padding: 0;
  marging: 0;
}

#welcome-text {
  padding: 10px 10px;
}

#welcome-table img {
 border: 0;
}

/* From Related Projects Box */

#box2 ul {list-style-type: none;margin: 0;padding: 0 0 5px 8px;}
#box2 ul li {width: 145px;background: url(http://www.collab.net/branding/cn_images/bullet_bluearrows_s.gif) no-repeat 0.1em 0.3em;font-size:10px;line-height:15px;font-weight:normal;padding-top: 0;padding-left: 1.20em;margin-bottom: 8px;}
#box2 p {margin: 0pt 0pt 8px; padding: 0pt 15px; font-size: 11px; line-height: 15px;}
#box2 {margin: 0pt; padding: 3px 0pt 1px 0px; background: #ffffff url('http://www.collab.net/branding/cn_images/community-lft-bg1.gif') no-repeat left top; width: 165px; height: auto;}
#box2 h3 {margin: 0; padding: 5px 10px 10px 10px; font-size: 13px; line-height: 16px; color: #ff9900;}
.tpaln {vertical-align: top;}
.btmaln {vertical-align: bottom;}
.cnaln {text-align: center;}